@if(!isLoading()) {
<form class="sign-in" [formGroup]="loginForm" (ngSubmit)="submit()">
  <header class="sign-in__header">
    <h1 class="sign-in__header__title">
      {{ 'auth.sign-in.title' | translate}}
    </h1>
    <span class="sign-in__header__subtitle"
      >{{'auth.sign-in.subtitle' | translate}}</span
    >
  </header>
  <div class="sign-in__form">
    <lib-text-input
      formControlName="username"
      [config]="signInConfig().username"
      type="text"
    ></lib-text-input>
    <lib-text-input
      formControlName="password"
      [config]="signInConfig().password"
      type="password"
    ></lib-text-input>
    @if(errorMessage()) {
    <app-dismissible-alerts
      [alertTitle]="alertTypes.error.title"
      [alertType]="alertTypes.error.type"
      [alertId]="alertTypes.error.id"
      [alertMessage]="alertTypes.error.message"
    />
    }
    <span class="sign-in__link" [routerLink]="[forgotPasswordRoute]"
      >{{'auth.sign-in.forgotPassword' | translate}}</span
    >
    <app-button [fullWidth]="true" type="submit"
      >{{'auth.sign-in.submit' | translate}}</app-button
    >
  </div>
  <p class="sign-in__switch">
    {{'auth.sign-in.noAccount' | translate}} &nbsp;
    <span class="sign-in__link" [routerLink]="[signUpRoute]">
      {{'auth.sign-in.signUp' | translate}}</span
    >
  </p>
</form>
} @else {
<div class="sign-in__loader">
  <app-spinner size="4rem"></app-spinner>
</div>
}
