@if(!isLoading()) {
<form class="sign-in" [formGroup]="loginForm" (ngSubmit)="submit()">
  <header class="sign-in__header">
    <app-library-title
      [title]="title"
      [subtitle]="subtitle"
    ></app-library-title>
  </header>
  <div class="sign-in__form">
    <lib-text-input formControlName="username"></lib-text-input>
    <lib-text-input formControlName="password"></lib-text-input>
    <span class="sign-in__link" [routerLink]="['/auth/forgot-password']">Forgot password?</span>
    <app-button [fullWidth]="true" type="submit"
      >Continue to OTP Verification</app-button
    >
  </div>
  <p class="sign-in__switch">
    Already have an account?
    <span class="sign-in__link" [routerLink]="['/auth/sign-up']">Sign up</span>
  </p>
</form>
} @else {
<div class="sign-in sign-in-loader">
  <app-spinner size="4rem"></app-spinner>
</div>
}
