<app-basic-card class="paybill-card" maxWidth="100%" padding="2.4rem">
  <header class="otp-container__header">
    <app-library-title
      [title]="otpConfig.otpTitle"
      [subtitle]="otpConfig.otpSubtitle"
    ></app-library-title>
  </header>

  <app-alert-types-with-icons
    alertType="information"
    [alertMessage]="otpConfig.otpAlert"
  ></app-alert-types-with-icons>

  <app-payment-summary
    [items]="summaryItems()"
    headerTitle="Payment Summary"
    backgroundColor="$gray-25"
  ></app-payment-summary>

  <div class="otp-wrapper">
    <lib-otp [config]="otpConfig.inputConfig" [(value)]="currentCode"></lib-otp>

    <div class="otp-resend">
      <p class="otp-resend__text">Didn't receive code?</p>
      <p class="otp-resend__button" (onClick)="onOtpResend()">Resend</p>
    </div>
  </div>

  <footer class="otp-actions">
    <app-button
      variant="secondary"
      (click)="cancelPayment.emit()"
      [fullWidth]="true"
      >Cancel</app-button
    >
    <app-button
      (click)="handleVerify()"
      [isDisabled]="currentCode().length < 4"
      [fullWidth]="true"
    >
      Verify & Continue
    </app-button>
  </footer>
</app-basic-card>
