<app-basic-card class="paybill-card" maxWidth="100%" padding="2.4rem">
  <header class="otp-container__header">
    <app-library-title
      [title]="'paybill.main.otp.title' | translate"
      [subtitle]="'paybill.main.otp.subtitle' | translate"
    ></app-library-title>
  </header>

<div class="paybill-card__alert__wrapper">
    <app-alert-types-with-icons
    alertType="information"
    [alertMessage]="'paybill.main.otp.alert_message' | translate"
  ></app-alert-types-with-icons>
</div>

  <app-payment-summary
    [items]="summaryItems()"
    [headerTitle]="'paybill.main.otp.summary_title' | translate"
    type="otp"
  ></app-payment-summary>

  <div class="otp-wrapper">
    <lib-otp [config]="otpConfig.inputConfig" [(value)]="currentCode"></lib-otp>

    <div class="otp-resend">
      <p class="otp-resend__text">
        {{ 'paybill.main.otp.resend_text' | translate }}
      </p>
      <p class="otp-resend__button" (onClick)="onOtpResend()">
        {{ 'paybill.main.otp.resend_btn' | translate }}
      </p>
    </div>
  </div>

  <footer class="otp-actions">
    <app-button
      variant="secondary"
      (click)="cancelPayment.emit()"
      [fullWidth]="true"
      >{{ 'paybill.main.otp.cancel_btn' | translate }}</app-button
    >
    <app-button
      (click)="handleVerify()"
      [isDisabled]="currentCode().length < 4"
      [fullWidth]="true"
    >
      {{ 'paybill.main.otp.verify_btn' | translate }}
    </app-button>
  </footer>
</app-basic-card>
