@use '../../../../../../shared/styles/mixins' as *;
@use '../../../../../../shared/styles/palette' as *;

.colorpalettes-container {
  width: 100%;
  background-color: $blue-100;

  .colorpalettes-content {
    max-width: 1102.4px;
    padding: 2rem;
    margin: 0 auto 2rem;
    padding: 0.4rem 1.6rem;
    width: 100%;
    @include display-flex();
    @include flex-center(column, center, flex-start);
    gap: 3.2rem;

    .colorpalettes-header {
      margin: 2rem 0;
    }

    .theme-container {
      padding: 2rem;
      @include display-flex(column);
      gap: 0.8rem;

      &__title {
        @include font-arimo(700, 1.8rem, 2.7rem);
        color: var(--color-fg);
      }

      &__subtitle {
        @include font-arimo(400, 1.4rem, 2rem);
        color: $gray-700;
      }
    }
  }
}
