  <div left class="auth-panel">
    <div class="auth-panel__header">
      <h2 class="auth-panel__title">Reset Password</h2>
      <p class="auth-panel__subtitle">
        Enter a new password for your account
      </p>
    </div>

    <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
      <lib-text-input
        type="password"
        formControlName="password"
        [config]="passwordConfig"
      ></lib-text-input>

      <lib-text-input
        type="password"
        formControlName="confirmPassword"
        [config]="confirmConfig()"
      ></lib-text-input>

      <div class="password-strength">
        <div class="password-strength__header">
          <span>Password Strength:</span>
          <span
            class="password-strength__label"
            [class]="strengthClass()"
          >
            {{ strengthLabel() }}
          </span>
        </div>
        <div class="password-strength__bar">
          <div
            class="password-strength__fill"
            [style.width.%]="strengthPercent()"
            [class]="strengthClass()"
          ></div>
        </div>
        <ul class="password-strength__list">
          <li [class.is-complete]="requirements().length">
            At least 8 characters
          </li>
          <li [class.is-complete]="requirements().upper">
            Uppercase letter
          </li>
          <li [class.is-complete]="requirements().lower">
            Lowercase letter
          </li>
          <li [class.is-complete]="requirements().number">
            At least one number
          </li>
          <li [class.is-complete]="requirements().special">
            Special character
          </li>
        </ul>
      </div>

      @if (submitError()) {
        <div class="auth-error">{{ submitError() }}</div>
      }

      <div class="auth-form__actions">
        <app-button
          type="submit"
          size="large"
          [fullWidth]="true"
          [isLoading]="isSubmitting()"
        >
          Reset Password
        </app-button>
      </div>
    </form>

    <p class="auth-panel__footer">
      Remember your password?
      <a class="auth-link" routerLink="/auth/sign-in">Sign in</a>
    </p>
  </div>