<app-paybill-templates
  [templateGroups]="templateGroups()"
  [templates]="templates()"
  [activeModal]="modalType()"
  [isModalOpen]="isModalOpen()"
  [currentModalConfig]="currentModalConfig()"
  [templateCategories]="categoryOptions()"
  [templateProviders]="templateProviders()"
  [selectedDeleteItem]="selectedItemName()"
  [isLoading]="isLoading()"
  (headerButtonAction)="handleHeaderAction($event)"
  (modalOpenAction)="handleModalToggle()"
  (formSubmit)="handleFormSubmit($event)"
  (categorySelected)="onCategorySelected($event)"
  (deleteTemplateModal)="deleteTemplate()"
  (treeAction)="onTreeAction($event)"
  (deleteGroupModal)="deleteGroup()"
  (treeItemMoved)="templateMoved($event)"
  [selectAll]="selectAll()"
></app-paybill-templates>
