@use '../../../../../../shared/styles/mixins' as *;
@use '../../../../../../shared/styles/palette' as *;

.project-form {
  @include display-flex(column);
  padding: 2.48rem;

  &__header {
    margin-bottom: 2.4rem;
  }

  &__form {
    @include display-flex(column);
    gap: 1.6rem;
  }

  &__input-group {
    @include display-flex(column);
    gap: 0.8rem;
  }

  &__footer {
    @include display-flex;
    justify-content: flex-end;
    gap: 0.8rem;
    margin-top: 2.4rem;
  }
}
