@use 'shared/styles/mixins' as *;
@use 'shared/styles/palette' as *;

.global-loading {
  @include flex-center();
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9998;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
