<app-basic-card
  [hasHover]="true"
  [maxWidth]="'100%'"
  [display]="'flex'"
  [flexDirection]="'column'"
  [alignItems]="'center'"
  [justifyContent]="'center'"
  [minHeight]="'22rem'"
  [borderColor]="'--color-fg'"
  [gap]="'0.8rem'"
  [hasTransition]="true"
  (click)="handleClick()"
>
  <app-button
    size="large"
    [variant]="'ghost'"
    [icon]="'adding.svg'"
    type="button"
    [customWidth]="'20rem'"
    [customHeight]="'20rem'"
    [iconWidth]="'4rem'"
    [iconHeight]="'8rem'"
  />
  <span class="add-card-button__text"
    >{{'my-products.card.card-list.add-card-button.getNewCard' | translate
    }}</span
  >
</app-basic-card>
