@use '../../../../../../shared/styles/mixins' as *;
@use '../../../../../../shared/styles/palette' as *;

.drawer-content {
  @include display-flex(column);
  width: 100%;
  max-width: 116.7rem;
  margin: 0 auto;
  padding: 2.4rem;

  &__header {
    margin-bottom: 3.2rem;
  }

  &__form {
    @include display-flex(column);
    gap: 2.4rem;
    margin-bottom: 3.2rem;
  }

  &__footer {
    @include display-flex(row);
    gap: 1rem;
  }
}
