<app-button (click)="toggle()"> Open Drawer </app-button>

<app-ui-drawer [isOpen]="isOpen()" (closed)="toggle()">
  <div class="drawer-content">
    <header class="drawer-content__header">
      <app-library-title
        [title]="drawerTitle"
        [subtitle]="drawerSubtitle"
      ></app-library-title>
    </header>

    <div class="drawer-content__form">
      <lib-text-input [config]="nameConfig"></lib-text-input>
      <lib-text-input [config]="emailConfig"></lib-text-input>
    </div>

    <footer class="drawer-content__footer">
      <app-button (click)="onSubmit()"> Submit </app-button>
      <app-button variant="outline" (click)="toggle()"> Cancel </app-button>
    </footer>
  </div>
</app-ui-drawer>
