<div class="bank-header-wrapper">
  <div class="bank-header-wrapper__container">
    <div
      class="bank-header-wrapper__container__messaging"
      routerLink="messaging"
      routerLinkActive="active"
    >
      <img
        src="images/svg/bank-header/header-messaging.svg"
        alt="messaging icon"
      />
    </div>
    <div class="bank-header-wrapper__container__notifications">
      <img
        (click)="onNotification()"
        src="images/svg/bank-header/header-bell.svg"
        alt="notification icon"
      />
      @if (hasUnread()) {
      <span class="badge"></span>
      }
    </div>
    <div
      class="bank-header-wrapper__container__avatar"
      routerLink="settings"
      routerLinkActive="active"
    ></div>
  </div>
</div>
