@if(isOpen()) {
<div
  class="header-notifications"
  [style.top.px]="top()"
  [style.left.px]="left()"
>
  @if (isLoading()) {
  <div class="header-notifications__main__loader">
    <app-route-loader variant="pulsing" />
  </div>
  }@else {

  <header class="header-notifications__header">
    <div class="header-notifications__header__info">
      <h3>Notifications</h3>
      <span>{{ unreadLeft() }} unread</span>
    </div>

    @if (selectedItems().length) {
    <app-button
      variant="destructive"
      [fullWidth]="true"
      icon="trash-icon.svg"
      style="width: 100%"
      class="header-notifications__header__button"
    >
      Delete ({{ selectedItems().length }})
    </app-button>
    }
  </header>
  <main class="header-notifications__main">
    <header class="header-notifications__main__header">
      <div class="header-notifications__main__header__select">
        <lib-checkboxes
          [checked]="isAllSelected()"
          (change)="toggleSelectAll(notificationsItems())"
        ></lib-checkboxes>
        Select All
      </div>
      <div class="header-notifications__main__header__cta--all">
        <button
          (click)="onMarkAllClick()"
          [disabled]="!notificationsItems().length"
        >
          <img
            class="header-notifications__main__header__cta--all__read"
            src="images/svg/header-notifications/read.svg"
            alt="read all icon"
            title="Mark all as read"
          />
        </button>
        <p>/</p>
        <button
          (click)="onDeleteAllClicked()"
          [disabled]="!notificationsItems().length"
        >
          <img
            class="header-notifications__main__header__cta--all__delete"
            src="images/svg/header-notifications/delete.svg"
            alt="delete all icon"
            title="Delete all notification"
          />
        </button>
      </div>
    </header>
    <app-scroll-area
      (scrollBottom)="onScrollBottom()"
      [hideBorder]="true"
      height="95%"
      [isLoading]="isLoading()"
    >
      @for (item of notificationsItems(); track $index) {
      <div
        class="header-notifications__main__item"
        [class.unread]="!item.isRead"
      >
        <div class="header-notifications__main__item__checkbox">
          <lib-checkboxes
            (change)="individualItemSelection(item.id)"
            [checked]="isItemSelected(item.id)"
          ></lib-checkboxes>
        </div>
        <div class="header-notifications__main__item__content">
          <h4 [class.unread]="!item.isRead">{{item.title}}</h4>

          <p class="header-notifications__main__item__content__date">
            {{ item.createdAt | date: 'yyyy-MM-dd HH:mm' }}
          </p>
          <span class="header-notifications__main__item__content__type">
            {{ item.type | titlecase }}
          </span>
        </div>
        <div class="header-notifications__main__item__cta">
          @if(!item.isRead) {
          <span class="header-notifications__main__item__cta--icon"></span>
          }

          <button (click)="onTrashIconClick(item.id)">
            <img
              class="header-notifications__main__item__cta--delete"
              src="images/svg/header-notifications/delete.svg"
              alt="delete icon"
            />
          </button>
        </div>
      </div>
      } @if(isFetching()) {
      <div class="header-notifications__main__data--fetching">
        <app-route-loader variant="pulsing" />
      </div>
      }
    </app-scroll-area>
  </main>
  }
</div>
}
