@use '../../../../../../shared/styles/mixins' as *;
@use '../../../../../../shared/styles/palette' as *;

.approve-card {
  @include display-flex(column);
  gap: 1.6rem;
  width: 100%;

  &__spinner {
    align-self: center;
    margin-top: 2rem; 
  }
}
