<app-basic-card class="paybill-card" maxWidth="100%" padding="2.4rem">
  <header class="paybill-form__header">
    <div
      class="paybill-form__icon-box"
      [style.background-color]="iconBgColor()"
    >
      <img [src]="iconBgPath()" alt="" class="paybill-form__icon" />
    </div>
    <div class="paybill-form__text-group">
      <h2 class="paybill-form__title">{{ provider()?.name }}</h2>
      <p class="paybill-form__subtitle">Enter your bill details</p>
    </div>
  </header>

  <form
    [formGroup]="paybillForm"
    (ngSubmit)="onSubmit()"
    class="paybill-form__content"
  >
    <div class="paybill-form__field">
      <lib-text-input
        formControlName="accountNumber"
        [config]="paybillConfig"
        [state]="isVerified() || isLoading() ? 'disabled' : 'default'"
      ></lib-text-input>
    </div>

    @if (isVerified()) {
    <app-paybill-form-details [details]="verifiedDetails()" />

    <lib-text-input
      label="Amount To Pay"
      formControlName="amount"
      [state]="isLoading() ? 'disabled' : 'default'"
    />
    <p class="helper-text">
      Fetched amount: {{verifiedDetails()?.amountDue}}. You can edit before
      continuing.
    </p>

    <div class="form-actions">
      <app-button
        type="submit"
        [isDisabled]="paybillForm.invalid || isLoading()"
      >
        Continue to Payment
      </app-button>

      <app-button variant='secondary'>Save Template</app-button>
    </div>
    } @else {
    <app-button
      type="submit"
      [isDisabled]="paybillForm.controls.accountNumber.invalid || isLoading()"
    >
      {{ isLoading() ? 'Verifying...' : 'Verify Account' }}
    </app-button>
    }
  </form>
</app-basic-card>
