@use '../../../../../../shared/styles/palette' as *;
app-button-library {
  display: grid;
  place-items: center; 
  width: 100%;
  
}

.button-library {
  margin: 0 auto;
  width: 100%;
  max-width: 120.0rem; 
  padding: 4.0rem;
  background-color: var(--color-bg);

  .button-library__state-label {
    color:$gray-700;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    margin-right: 0.8rem;
  }

}