<div class="summary-container" [style.backgroundColor]="backgroundColor()">
  <header class="summary-header">
    <div class="summary-header__left">
      @if (iconBgPath()) {
      <div
        class="summary-header__icon-container"
        [style.backgroundColor]="iconBgColor()"
      >
        <img [src]="iconBgPath()" alt="icon" class="summary-header__icon" />
      </div>
      }
      <div class="summary-header__text">
        <h3 class="summary-header__title" [style.color]="headerColor()">
          {{ headerTitle() | translate }}
        </h3>
        @if (headerSubtitle()) {
        <p class="summary-header__subtitle">
          {{ headerSubtitle() | translate }}
        </p>
        }
      </div>
    </div>
  </header>

  <div class="summary-list">
    @for (item of items(); track item.label) {
    <div class="summary-row" [class.summary-row--total]="item.isTotal">
      <span class="summary-row__label">{{ item.label | translate }}</span>
      <span class="summary-row__value"
        >
@if (item.isTotal) {
          {{ item.value | currency: 'GEL' : 'symbol' : '1.2-2' }}
        } @else {
          {{ item.canTranslate ? (item.value.toString() | translate) : item.value }}
        }
        </span
      >
    </div>
    }
  </div>
</div>
