@if (isLoading()) {
<section class="provider-item provider-item--skeleton">
  <div class="provider-item__content">
    <app-skeleton variant="circle" width="0.8rem" height="0.8rem" />
    <app-skeleton variant="text" width="18rem" height="1.6rem" />
  </div>
  <app-skeleton
    variant="rectangle"
    width="2.4rem"
    height="2.4rem"
    borderRadius="0.4rem"
  />
</section>
} @else {
<button
  class="provider-item"
  [class]="'provider-item--level-' + level()"
  (click)="selected.emit()"
>
  <div class="provider-item__content">
    <div
      class="provider-item__indicator"
      [class.provider-item__indicator--child]="level() > 0"
      [style.background-color]="level() === 0 ? indicatorColor() : ''"
    ></div>
    <h3
      class="provider-item__label"
      [class.provider-item__label--main]="level() === 0"
    >
      {{ name() }}
    </h3>
  </div>
  <div class="provider-item__chevron"></div>
</button>
}
