@use '../../../../../../shared/styles/mixins' as *;
@use '../../../../../../shared/styles/palette' as *;

.avatars {
  padding: 2.4rem;

  &__card {
    border: 0.1rem solid $blue-300;
    border-radius: 1.6rem;
    background-color: $white;
    padding: 2.4rem;
    @include display-flex(column);
    gap: 2.4rem;
    max-width: 120rem;
    margin: 0 auto;
  }

  &__section {
    @include display-flex(column);
    gap: 1.6rem;
  }

  &__label {
    @include font-arimo(600, 1.6rem, 2.4rem);
    color: $gray-700;
    margin: 0;
  }

  &__row {
    @include flex-center(row, flex-start, center);
    gap: 1.6rem;
    flex-wrap: wrap;
  }
}
