@use '../../../../../../shared/styles/mixins' as *;
@use '../../../../../../shared/styles/palette' as *;

.avatars {
  @include flex-center(column, center, flex-start);
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.6rem;
  gap: 3.2rem;

  &__title {
    margin: 2rem 0;
  }

  &__card {
    border: 0.16rem solid $blue-400;
    border-radius: 1rem;
    background-color: $white;
    padding: 2.56rem;
    @include display-flex(column);
    gap: 1.6rem;
    max-width: 110.2rem;
    width: 100%;
  }

  &__section {
    @include display-flex(column);
    gap: 1.6rem;
  }

  &__label {
    @include font-arimo(700, 1.8rem, 2.7rem);
    color: var(--color-fg);
    margin: 0;
  }

  &__row {
    @include flex-center(row, flex-start, center);
    gap: 1.6rem;
    flex-wrap: wrap;
  }

  &__aspect-ratio {
    width: 100%;
  }
}
