@use 'sass:color';
@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;

.user-info {
  display: block;
  width: 100%;
  margin-top: 2.4rem;

  &__content {
    @include display-flex(column);
    gap: 1.6rem;
  }

  &__item {
    @include display-flex(column);
    gap: 0.8rem;
  }

  &__label {
    @include font-inter(500, 1.4rem, 1);
    color: var(--color-fg);
  }

  &__value {
    @include font-inter(400, 1.4rem, 1);
    color: var(--color-fg-muted);

    &--phone {
      @include font-inter(400, 1.8rem, 1);
    }

    &--personal {
      @include font-inter(400, 1.8rem, 1);
    }
  }

  &__item lib-text-input {
    margin-top: 0.4rem;
    ::ng-deep .text-input__field {
      @include font-inter(400, 1.8rem, 1);
    }
  }

  &__footer {
    margin-top: 2.4rem;
    margin-bottom: 1rem;
  }

  &__footer-content {
    @include display-flex(column);
    gap: 0.8rem;
  }

  &__validation-message {
    @include font-inter(400, 1.2rem, 1.4);
    color: var(--color-fg-muted);
    padding: 0.4rem 0;
  }

  &__footer-buttons {
    @include display-flex(row, wrap);
    gap: 1.2rem;
  }
}
