@use '../../../../shared/styles/palette' as *;
@use '../../../../shared/styles/mixins' as *;
.transaction-filters-wrapper {
  margin-bottom: 2.4rem;
}

.alert-message {
  position: fixed;
  z-index: 1121;
  bottom: 1rem;
  right: 1rem;
}
