@use '../../../../shared/styles/palette' as *;
@use '../../../../shared/styles/mixins' as *;
.transaction-wrapper {
  margin-bottom: 2.4rem;
  &__extract-all {
    position: absolute;
    right: 4.5rem;
  }
}

.alert-message {
  position: fixed;
  z-index: 1121;
  top: 7rem;
  right: 1rem;
}
