@use '../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../shared/styles/palette' as *;

.modal {
  &__identifier {
    @include font-inter(600, 1.6rem, 2.4rem);
    color: var(--color-fg);
    background-color: $white;
    padding: 2rem 1rem;
  }

  &__warning {
    @include font-inter(400, 1.4rem, 2rem);
    color: $gray-700;
    margin-top: 1.6rem;
  }
}
