@if(!isErrorPageVisible()) {
<div
  appExpirationTimer
  [maxTimer]="maxTotalTime()"
  (expirationOutput)="expirationTimerHandle()"
  class="otp-verification"
>
  @if(isHeaderVisible()) {
  <div class="otp-verification__icon" aria-hidden="true">
    <img [src]="inputOtpConfig()?.iconUrl" />
  </div>
  <h2 class="otp-verification__title">
    {{ inputOtpConfig()?.title| translate }}
  </h2>
  <p class="otp-verification__subtext">
    {{ inputOtpConfig()?.subText| translate}}
  </p>
  }

  <form class="auth-form" [formGroup]="activeForm()" (ngSubmit)="onSubmit()">
    @if(timerType() === 'otp'){
    <div class="otp-field">
      <lib-otp
        [isOtpLoading]="isInputDisabled() || isButtonDisabled()"
        formControlName="code"
        [isCentered]="true"
        (completed)="handleAutoSubmit($event)"
        [config]="otpForms.otpConfig()"
      ></lib-otp>
    </div>
    } @else {
    <div class="otp-field__phone">
      <lib-text-input
        formControlName="phoneNumber"
        [config]="otpForms.phoneConfig()"
      ></lib-text-input>
    </div>
    } @if (submitError()) {
    <app-simple-alerts
      alertType="error"
      [alertMessage]="submitError() ?? ''"
    ></app-simple-alerts>
    } @if (unitedError()) {
    <app-simple-alerts
      alertType="error"
      [alertMessage]="unitedError()"
    ></app-simple-alerts>
    } @if (phoneErrorMessage()) {
    <app-simple-alerts
      alertType="error"
      [alertMessage]="phoneErrorMessage() ?? 'An error occurred'"
    ></app-simple-alerts>
    } @if (activeConfig().otp.enabledOtpResends.includes(otpResendType())) {
    <app-otp-resend
      (noMoreAttempts)="expirationTimerHandle()"
      [maxTimeoutMs]="maxTimeoutMs()"
      [resendRetries]="resendRetries()"
      [timerType]="timerType()"
      (resendClicked)="handleResend()"
      (timeoutReached)="handleTimeout()"
    />
    }

    <div
      class="auth-form__wrapper"
      [style.flex-direction]="isBtnRowDirection() ? 'row-reverse' : 'column'"
    >
      <div class="auth-form__wrapper__btn">
        <app-button
          [isDisabled]="isButtonDisabled()"
          type="submit"
          [fullWidth]="true"
          variant="default"
          [isLoading]="buttonLoading()"
        >
          {{ inputOtpConfig()?.submitBtnName | translate}}
        </app-button>
      </div>

      <div class="auth-form__wrapper__btn">
        <app-button
          [fullWidth]="true"
          class="otp-verification__back"
          (click)="resgisterBackout()"
          variant="outline"
          >{{ inputOtpConfig()?.backLinkText | translate}}</app-button
        >
      </div>
    </div>
  </form>
</div>
} @else {
<app-error-page
  [redirectUrl]="redirectUrl()"
  [redirectText]="redirectText()"
></app-error-page>
}
