<section class="loans">
    @for (loan of loans$ | async; track loan.id) {
    <lib-loan-card [loan]="loan" (cardClick)="onCardClick($event)" (rename)="onRenameLoan($event)">
    </lib-loan-card>
    } @empty {
    <p>No loans found.</p>
    }
</section>

<app-loan-details [isOpen]="isDetailsOpen()" [loan]="selectedLoan()" (close)="closeModals()"
    (calculatePrepayment)="onOpenPrepayment($event)">
</app-loan-details>

<app-ui-modal [isOpen]="isPrepaymentOpen()" (closed)="closeModals()">
    @if (selectedLoan(); as loan) {
    <div class="modal-content-wrapper">
        <app-prepayment-option-step [loan]="loan" (cancel)="closeModals()" (calculate)="onCalculatePrepayment($event)">
        </app-prepayment-option-step>
    </div>
    }
</app-ui-modal>