<section class="loans">
    @for (loan of loans(); track loan.id) {
    <lib-loan-card [loan]="loan" (cardClick)="onCardClick($event)" (rename)="onRenameLoan($event)">
    </lib-loan-card>
    } @empty {
    <p>No loans found.</p>
    }
</section>

<app-loan-details [isOpen]="isDetailsOpen()" [loan]="selectedLoanDetails()" [isLoading]="isDetailsLoading()"
    (close)="closeModals()" (calculatePrepayment)="onOpenPrepayment($event)">
</app-loan-details>

<app-ui-modal [isOpen]="isPrepaymentOpen()" (closed)="closeModals()">
    @let activePrepayment = prepaymentLoan();

    @if (activePrepayment) {
    <app-prepayment-container [loan]="activePrepayment" (close)="closeModals()">
    </app-prepayment-container>
    }
</app-ui-modal>