
<div class="card-group-item">
  <div class="card-group-item__header">
    <div class="card-group-item__info">
      <div class="card-group-item__icon-wrapper">
        <img
          [src]="'/images/svg/button-icons/account-icon.svg'"
          alt="Account"
          class="card-group-item__icon"
        />
      </div>

      <div class="card-group-item__name-wrapper">
        <span class="card-group-item__name">{{ group().account.name }}</span>
        <span class="card-group-item__number">{{ group().account.iban }}</span>
      </div>
    </div>


@if (group().cardImages.length > 0) {
  <app-badges
    [text]="group().cardCountLabel + ' ' + (group().cardCountKey | translate)"
    variant="info"
    size="large"
    shape="rounded"
  />
}
  </div>

  @if (group().cardImages.length > 0) {
    <div class="card-group-item__cards-wrapper">
      <app-card-stack
        [cards]="group().cards"
        [hasMultipleCards]="group().cardImages.length > 1"
        [isLoading]="isLoading()"
        (cardClicked)="handleCardClick($event)"
      />
      @if(group().cardImages.length > 1){
        <button
          class="card-group-item__view-all-button"
          (click)="handleViewAllClick()"
          type="button"
        >
          {{'my-products.card.card-list.card-group-item.allCards' | translate }}
        </button>
      }
    </div>
  } @else {
    <app-badges
      text=" {{'my-products.card.card-list.card-group-item.noCard' | translate }}"
      variant="info"
      size="medium"
      shape="rounded"
      [disabled]="true"
    />
  }
</div>