@use "../../../../../../shared/styles/palette" as *;
@use "../../../../../../shared/styles/mixins" as *;

.header {
    @include flex-center(row, space-between, center);
    border-bottom: 0.063rem solid $gray-200;
    padding: 0 1.2rem 1.2rem;

    &__info {
        @include flex-center(column, flex-start, start);

        &__title {
            @include font-inter(600, 2rem, 3rem);
            color: var(--color-fg);
        }

        &__count-container {
            min-height: 1.6rem;
        }

        &__count {
            @include font-inter(400, 1.2rem, 1.6rem);
            color: $gray-700;
        }
    }

    &__checkbox {
        @include flex-center();
        gap: 0.5rem;
    }

    &__action {
        @include flex-center(row);
        gap: 0.8rem;

        app-button {
            animation: fadeIn 0.3s ease-out;
        }
    }
}

@media (max-width: 550px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        &__action {
            width: 100%;
            justify-content: flex-end;
            min-height: 3.6rem;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.delete-account {
    &__header {
        margin-bottom: 1.6rem;
    }

    &__footer {
        @include flex-center($justify: flex-end);
        gap: 1.2rem;
    }
}
