<section class="instruction_card">
  <header class="instruction_card__title">
    {{ 'storybook.drag-and-drop.howToUse.title' | translate }}
  </header>
  <div class="instruction_card__content">
    <p class="instruction_card__content__item">
      {{ 'storybook.drag-and-drop.howToUse.steps.step1' | translate }}
    </p>
    <p class="instruction_card__content__item">
      {{ 'storybook.drag-and-drop.howToUse.steps.step2' | translate }}
    </p>
    <p class="instruction_card__content__item">
      {{ 'storybook.drag-and-drop.howToUse.steps.step3' | translate }}
    </p>
    <p class="instruction_card__content__item">
      {{ 'storybook.drag-and-drop.howToUse.steps.step4' | translate }}
    </p>
  </div>
</section>
