@let user = userData();

<app-ui-modal [isOpen]="isOpen()" (closed)="close.emit()">
    <header>
        <div class="icon">
            <img src="./images/svg/settings/user-management/person.svg" alt="Person Image">
            <h1>User Details</h1>
        </div>
        <p>View detailed information about the user.</p>
    </header>

    <main class="main">
        @if (isLoading()) {
        <div class="loader-container">
            <app-route-loader variant="pulsing" />
        </div>
        }
        @else if (user) {
        <div class="main__icon">
            @if (user.avatarUrl) {
            <img [src]="user.avatarUrl" class="avatar avatar__pfp" alt="User Avatar">
            } @else {
            <app-avatar size="xl" [initials]="getInitials(user.firstName, user.lastName)"></app-avatar>
            }
            <div class="user-info">
                <strong>{{ user.firstName }} {{ user.lastName }}</strong>
                <p>{{ user.email }}</p>
                <p>
                    {{ user.role | lowercase }}
                    @if(user.isBlocked) {
                    <strong>Blocked</strong>
                    } @else {
                    <strong>Active</strong>
                    }
                </p>
            </div>
        </div>

        <div>
            <h4>Username</h4>
            <p>{{ user.username }}</p>
        </div>

        <div>
            <h4>Created At</h4>
            <p>{{ user.createdAt | date:'dd/MM/yyyy, HH:mm:ss' }}</p>
        </div>
        }
    </main>

    <footer>
        <app-button variant="outline" (click)="close.emit()">Close</app-button>
    </footer>
</app-ui-modal>