@let user = userData();

<app-ui-modal [isOpen]="isOpen()" (closed)="close.emit()">
    <header>
        <div class="icon">
            <img src="./images/svg/settings/user-management/person.svg" alt="Person Image">
            <h1>{{'settings.user-management.details.title' | translate}}</h1>
        </div>
        <p>{{'settings.user-management.details.desc' | translate}}</p>
    </header>

    <main class="main">
        @if (isLoading()) {
        <div class="loader-container">
            <app-route-loader variant="pulsing" />
        </div>
        }
        @else if (user) {

        <div class="main__icon">
            @if (user.avatarUrl) {
            <img [src]="user.avatarUrl" class="avatar avatar__pfp" alt="User Avatar">
            } @else {
            <app-avatar size="xl" [initials]="getInitials(user.firstName, user.lastName)"></app-avatar>
            }
            <div class="user-info">
                <strong>{{ user.firstName }} {{ user.lastName }}</strong>
                <p>{{ user.email }}</p>
                <div class="badges-row">
                    <span class="role-badge">{{ user.role | lowercase }}</span>
                    @if(user.isBlocked) {
                    <span class="status-badge status-badge--blocked">
                        {{'settings.user-management.details.blocked' | translate}}
                    </span>
                    } @else {
                    <span class="status-badge status-badge--active">
                        {{'settings.user-management.details.active' | translate}}
                    </span>
                    }
                </div>
            </div>
        </div>

        <div class="details-grid">
            @for (item of userDetails(); track $index) {
            <div class="detail-item">
                <h4>{{ item.label }}</h4>
                @switch (item.type) {
                @case ('date') {
                <p>{{ (asDate(item.value) | date:'dd/MM/yyyy, HH:mm:ss') || '-' }}</p>
                }
                @default {
                <p>{{ item.value || '-' }}</p>
                }
                }
            </div>
            }
        </div>
        }
    </main>

    <footer>
        <app-button variant="outline" (click)="close.emit()">
            {{'settings.user-management.details.close' | translate}}
        </app-button>
    </footer>
</app-ui-modal>