@if(!isLoading()){
<form class="sign-in" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
  <p>Verify Otp</p>
  <lib-text-input formControlName="code"></lib-text-input>
  <app-button type="submit">Verify - ეს დალოგინებისას</app-button>
</form>
} @else {
<div class="sign-in sign-in-loader">
  <app-spinner size="4rem"></app-spinner>
</div>
}

<form class="otp-verification" [formGroup]="smsCodeVerificationForm" (ngSubmit)="submit()">
    <lib-text-input formControlName="verificationCode"></lib-text-input>
    <h2>ERROR: {{errorMessage()}}</h2>
    <p>Didn't receive the code? <span class="otp-verification__resend" (click)="resendVerification()"> Resend </span></p>
    <app-button type="submit">Verify - ეს რესგისტრაციისას</app-button>
    <app-button type="button" variant="outline" (click)="check()">Change Phone Number</app-button>
</form>
