@if(!isLoading()){
<div class="timer-container">
  <svg class="timer-svg" viewBox="0 0 100 100">
    <circle class="timer-svg__bg" cx="50" cy="50" r="45"></circle>
    <circle
      class="timer-svg__progress"
      cx="50"
      cy="50"
      r="45"
      [style.strokeDashoffset]="strokeOffset()"
    ></circle>
  </svg>
  <div class="timer-text">
    @if (countdown() > 0) {
    <span class="timer-text__value">{{ countdown() }}</span>
    <span class="timer-text__label">sec</span>
    } @else {
    <span
      class="otp-verification__resend"
      (click)="resendVerification()"
      [class.otp-verification__resend--disabled]="isResendDisabled()"
    >
      Resend
    </span>
    }
  </div>
</div>

<form class="auth-form" [formGroup]="otpForm" (ngSubmit)="submit()">
  <div class="otp-field">
    <label class="otp-label">Enter OTP Code</label>
    <lib-otp formControlName="code" [config]="otpConfig"></lib-otp>
  </div>

  <div class="auth-form__actions">
    <app-button
      type="submit"
      size="large"
      [fullWidth]="true"
      [isLoading]="isSubmitting()"
    >
      Verify
    </app-button>
  </div>
</form>

} @else {
<div class="sign-in sign-in-loader">
  <app-spinner size="4rem"></app-spinner>
</div>
}
