@use "../../../../../../../../../shared/styles/mixins" as *;
@use "../../../../../../../../../shared/styles/palette" as *;

.card-details__info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
}

.card-details__info-item {
  @include display-flex(column);
  gap: 0.4rem;
}

.card-details__info-label {
  @include font-inter(400, 1.4rem, 2rem);
  color: $gray-700;
}

.card-details__info-value {
  @include font-inter(600, 1.6rem, 2.4rem);
  color: var(--color-fg)

 
}