<div class="card-details__info-grid">
  <div class="card-details__info-item">
    <span class="card-details__info-label">   {{'my-products.card.card-details.card-info-section.cardName' | translate }}</span>
    <span class="card-details__info-value">{{ cardName() }}</span>
  </div>

  <div class="card-details__info-item">
    <span class="card-details__info-label">{{'my-products.card.card-details.card-info-section.cardType' | translate }}</span>
    <span class="card-details__info-value">{{ cardType() }}</span>
  </div>

  <div class="card-details__info-item">
    <span class="card-details__info-label">{{'my-products.card.card-details.card-info-section.currency' | translate }}</span>
    <span class="card-details__info-value">{{ currency() }}</span>
  </div>

  <div class="card-details__info-item">
    <span class="card-details__info-label">{{'my-products.card.card-details.card-info-section.Status' | translate }}</span>
      <app-badges class="card-details__info-value"
        [variant]="'default'"
        [text]="status()"
        size="small"
        shape="rounded"
      />

  </div>

  <div class="card-details__info-item">
    <span class="card-details__info-label">{{'my-products.card.card-details.card-info-section.totalBalance' | translate }}</span>
    <span class="card-details__info-value">{{ formattedBalance() }}</span>
  </div>

  @if (shouldShowCreditLimit()) {
    <div class="card-details__info-item">
      <span class="card-details__info-label">{{'my-products.card.card-details.card-info-section.avaliableLimit' | translate }}</span>
      <span class="card-details__info-value">{{ formattedCreditLimit() }}</span>
    </div>
  }
</div>