@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;
@use '../styles/forms-shared' as *;

.contact__form {
  @extend %flex-stack;
  width: 44.8rem;

  &__fields {
    @include display-flex(column);
    width: 100%;
    gap: 0.8rem;
  }

  &__subscribe {
    @extend %checkbox;
  }

  input,
  textarea {
    @extend %input;
  }

  textarea {
    height: 6.4rem;
  }

  button {
    @extend %one-button;
  }

  label.invalid {
    color: $red-500;
  }

  .error {
    color: $red-500;
    font-size: 1.2rem;
  }
}
