@use "../../../../../shared/styles/mixins" as *;
@use "../../../../../shared/styles/palette" as *;

:host {
    flex: 1;
    overflow-y: auto;
}

.loading-state {
    flex: 1;
    width: 100%;
    @include flex-center();
}

.button-container {
    @include display-flex(row, flex-start);
    gap: 0.8rem;
}

.delete-account {
    &__header {
        margin-bottom: 1.6rem;
    }

    &__footer {
        @include flex-center($justify: flex-end);
        gap: 1.2rem;
    }
}

.delete-btn {
    @include font-inter(500, 1.4rem, 2rem);
    color: $red-700;;
}