@use '../../../../../../../shared/styles/palette' as *;
@use '../../../../../../../shared/styles/mixins' as *;

.tables {
  &__wrapper {
    max-width: 95%;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 3.2rem;
  }
}

// should be deleted after Card component is finished
.card--component {
  padding: 2.4rem;
  border: 1px solid $blue-400;
  border-radius: 1rem;

  h2 {
    @include font-arimo(700, 1.8rem, 2.7rem);
    color: var(--color-fg);
    margin-bottom: 1.6rem;
  }
}
