@use '../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../shared/styles/palette' as *;

.nav-sheet {
  @include display-flex(column);
  height: 100%;
  padding: 2.4rem;

  &__header {
    margin-bottom: 3.2rem;
  }

  &__list {
    @include display-flex(column);
    gap: 0.8rem;
    flex: 1;
  }

  &__item {
    @include display-flex(row);
    align-items: center;
    width: 100%;
    height: 4.4rem;
    padding: 0 1.2rem;
    gap: 1.6rem;
    background: transparent;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  &__label {
    @include font-arimo(400, 1.4rem, 2rem);
    color: var(--color-fg);
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    border: 0.133rem solid var(--color-fg);
    position: relative;
    border: none;

    &-profile {
      background-image: url('/images/svg/overlay/profile_library.svg');
    }

    &-settings {
      background-image: url('/images/svg/overlay/settings_library.svg');
    }

    &-messages {
      background-image: url('/images/svg/overlay/message_library.svg');
    }

    &-logout {
      background-image: url('/images/svg/overlay/logout_library.svg');
    }
  }
}
