@use '../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../shared/styles/palette' as *;

.btn {
  @include flex-center;
  padding: 0.8rem 1.6rem;
  gap: 0.8rem;
  height: 3.6rem;
  border-radius: 0.8rem;
  @include font-arimo(400, 1.4rem, 2rem);
  text-align: center;
  cursor: pointer;

  &__secondary {
    background: var(--color-secondary);
    color: var(--color-fg);
  }

  &__left-trigger {
    width: 9.6rem;
  }
}

.nav-sheet {
  @include display-flex(column);
  height: 100%;

  &__header {
    @include display-flex(column);
    padding: 1.6rem 0 1.6rem 1.6rem;
    gap: 0.6rem;
    height: 8.8rem;
  }

  &__title {
    @include font-arimo(700, 2rem, 3rem);
    color: var(--color-fg);
    margin: 0;
  }

  &__subtitle {
    @include font-arimo(400, 1.4rem, 2rem);
    color: var(--color-primary);
    margin: 0;
  }

  &__list {
    @include display-flex(column);
    padding: 1.6rem 0 0;
    gap: 0.8rem;
  }

  &__item {
    @include display-flex;
    align-items: center;
    width: 100%;
    height: 3.6rem;
    padding: 0 1.2rem;
    gap: 1.6rem;
    background: transparent;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: var(--color-secondary);
    }
  }

  &__label {
    @include font-arimo(400, 1.4rem, 2rem);
    color: var(--color-fg);
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    border: 0.133rem solid var(--color-fg);
    position: relative;
    border: none;

    &-profile {
      background-image: url('/images/svg/overlay/profile_library.svg');
    }

    &-settings {
      background-image: url('/images/svg/overlay/settings_library.svg');
    }

    &-messages {
      background-image: url('/images/svg/overlay/message_library.svg');
    }

    &-logout {
      background-image: url('/images/svg/overlay/logout_library.svg');
    }
  }
}
