<app-ui-modal [isOpen]="isOpen()" (closed)="onClose()">
  <div class="compose-modal">
    <div class="modal-heading">
      <h3>Compose Email</h3>
      <p>Create a new email message</p>
    </div>

    <form [formGroup]="form" class="form-inputs">
      <div class="input-container">
        <app-email-chips-input
          #toInput
          [label]="'To'"
          [placeholder]="'recipient@example.com'"
          [searchResults]="filteredSearchResults()"
          [isSearching]="store.isSearching()"
          [allowMultiple]="false"
          (searchQuery)="onSearchEmails($event)"
          (emailSelected)="onToEmailSelected($event)"
          (invalidToEmail)="onInvalidToEmail($event)"
        />
      </div>

      <div class="input-container">
        <app-email-chips-input
          #ccInput
          [label]="'CC (optional)'"
          [placeholder]="'cc1@example.com, cc2@example.com'"
          [searchResults]="filteredSearchResultsCc()"
          [isSearching]="store.isSearching()"
          [allowMultiple]="true"
          (searchQuery)="onSearchEmails($event)"
          (emailSelected)="onCcEmailSelected($event)"
          (emailRemoved)="onCcEmailRemoved($event)"
          (invalidCcEmail)="onInvalidCcEmail($event)"
        />
      </div>
      <div class="input-container">
        <lib-text-input
          [config]="{ label: 'Subject', placeholder: 'Email subject' }"
          formControlName="subject"
        ></lib-text-input>
      </div>
      <lib-textarea
        [config]="{ 
          label: 'Message', 
          placeholder: 'Type your message here...', 
          rows: 2, 
          resizable: 'none',
          maxHeight: 16
          }"
        formControlName="body"
      ></lib-textarea>
      <div>
        @if (role() === 'SUPPORT') {
        <lib-checkboxes
          formControlName="isImportant"
          [config]="{label: 'Mark as important'}"
          formControlName="isImportant"
        ></lib-checkboxes>
        }
      </div>
      <div class="buttons-container">
        <app-button variant="outline" (click)="onClose()">Cancel</app-button>
        <app-button
          variant="outline"
          icon="save-draft.svg"
          (click)="onSaveDraft()"
          >Save Draft</app-button
        >
        <app-button
          variant="default"
          icon="send-email.svg"
          (click)="onSendEmail()"
          >Send</app-button
        >
      </div>
    </form>
    <div
      class="fade-alert-container"
      [class.fade-alert--visible]="invalidForm()"
    >
      <app-alert-types-with-icons
        [alertType]="'error'"
        [alertMessage]="errorMesage()"
      ></app-alert-types-with-icons>
    </div>
  </div>
</app-ui-modal>
