<app-scroll-area
  [height]="widgetHeight()"
  [hideBorder]="true"
  scrollbar="hidden"
>

  <div class="accounts">

    @for (account of accounts$ | async; track account.id) {
    <div class="account-card">
      <div class="account-card__header">
        <div class="account-card__header-top">

          {{ (account.friendlyName && account.friendlyName.trim()) ? account.friendlyName : account.name}}
          <span class="account-card__header-top--iban">
            ****{{ account.iban.slice(-4) }}
          </span>
        </div>
        @if (account.trendline) {
          <div
            class="account-card__trendline"
            [ngClass]="{
              'account-card__trendline--positive': account.trendline.direction === 'up',
              'account-card__trendline--negative': account.trendline.direction === 'down'
            }"
          >
            <img
              [src]="account.trendline.direction === 'up' ? '/images/svg/dashboard/arrow-up.svg' : '/images/svg/dashboard/arrow-down.svg'"
              [alt]="account.trendline.direction === 'up' ? 'up' : 'down'"
              class="account-card__trendline-arrow"
            />
            @if (balancesHidden()) {
              {{ account.currency | currencySymbol }}*****
            } @else {
              {{ account.currency | currencySymbol }}{{ account.trendline.amount | number: '1.2-2' }}
            }
          </div>
        }
      </div>

      <div class="account-card__balance">
        @if (balancesHidden()) {
          {{ account.currency | currencySymbol }}*****
        } @else {
          {{account.currency | currencySymbol }}{{
            account.trendline
              ? (getAnimatedBalance(account.id) | number: '1.2-2')
              : (account.balance | number: '1.2-2')
          }}
        }
      </div>
    </div>
    }
  </div>

  @if (isLoading$ | async) {
      <app-route-loader variant="pulsing"  [fillContainer] = 'true'>
      </app-route-loader>
  } @else if (error$ | async) {
    <div class="widget-error">
      <app-error-states
        variant="failed"
        header="Failed to load"
        message="Could not load accounts"
        buttonMessage="Retry"
        (buttonClick)="retryLoad()"
        [border]="false"
      >
      </app-error-states>
    </div>
  } @else if (isEmpty$ | async) {
    <div class="widget-error">
      <app-error-states
        variant="not-found"
        header="Empty"
        message="Could not find any accounts"
        [showButton]="false"
        [border]="false"
      >
      </app-error-states>
    </div>
  }
</app-scroll-area>
