:root {
  --color-primary: #0284c7;
  --color-secondary: #e0f2fe;
  --color-accent: #7dd3fc;
  --color-muted: #bae6fd;

  --color-bg: #f0f9ff;
  --color-fg: #0c4a6e;
}

[data-theme='oceanBlue'] {
  --color-primary: #0284c7;
  --color-secondary: #e0f2fe;
  --color-accent: #7dd3fc;
  --color-muted: #bae6fd;

  --color-bg: #f0f9ff;
  --color-fg: #0c4a6e;
}

[data-theme= 'royalBlue'] {
  --color-primary: #2563eb;
  --color-secondary: #dbeafe;
  --color-accent: #93c5fd;
  --color-muted: #bfdbfe;

  --color-bg: #eff6ff;
  --color-fg: #1e3a8a;
}

[data-theme = 'deepBlue'] {
  --color-primary: #1e40af;
  --color-secondary: #e2e8f0;
  --color-accent: #94a3b8;
  --color-muted: #cbd5e1;

  --color-bg: #f8fafc;
  --color-fg: #0f172a;
}
