@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/palette' as *;
@use '../styles/forms-shared' as *;
@use '../styles/forms-mixins' as *;

.contact__form {
  @extend %flex-stack;
  width: 30vw;

  @media (max-width: 768px) {
    width: 80vw;
  }

  @media (max-width: 480px) {
    width: 65vw;
  }

  &--fields {
    @include display-flex(column);
    @include custom-width();
  }

  &--submit {
    width: 100%;
  }
}
