@use '../../../shared/styles/mixins' as *;

.bank-container-wrapper {
  @include display-flex(row);
  width: 100%;
  max-width: 192rem;
}

.bank-container-sidebar {
  width: 25.6rem;
  flex-shrink: 0;
}

.bank-container-content {
  @include display-flex(column);
  flex: 1;
}
