@use '../../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../../shared/styles/palette' as *;
@use '../../../../../../../../../shared/styles/variables' as *;

.verified-container {
  box-sizing: border-box;
  @include flex-center(column, flex-start, flex-start);
  padding: 1.66rem 1.66rem 1.2rem;
  gap: 1.2rem;
  background: $green-50;
  border: 0.0625rem solid $green-200;
  border-radius: 1rem;
  width: 100%;

  .verified-status {
    @include flex-center(row, flex-start, center);
    gap: 0.8rem;
    color: $green-800;

    .verified-icon {
      font-size: 2rem;
    }

    .verified-text {
      @include font-inter(600, 1.6rem, 2.4rem);
    }
  }

  .details-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;

    .detail-row {
      @include flex-center($direction:row,$justify:space-between);
      gap: 0.4rem;

      .label {
        @include font-inter(400, 1.4rem, 2rem);
        color: $gray-500;
      }

      .value {
        @include font-inter(500, 1.4rem, 2rem);
        color: $gray-800;

        &--alert {
          color: $red-600;
        }
      }
    }
  }
}