@use "../../../../../../shared/styles/mixins" as *;
@use "../../../../../../shared/styles/palette" as *;

.navigation {
    padding: 3.2rem 2.4rem;
    max-width: 192rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &__heading {
        @include font-arimo(700, 2.4rem, 3.2rem);
        color: var(--color-fg);
        margin-bottom: 0.8rem;
    }

    &__desc {
        @include font-arimo(400, 1.6rem, 2.4rem);
        color: $gray-700;
    }

    .navigation__card {
        background-color: $white;
        border: 0.08rem solid $blue-400;
        border-radius: 1rem;
        padding: 2.48rem;
        @include display-flex(column, nowrap);
        gap: 1.82rem;

        &--heading {
            @include font-arimo(700, 1.8rem, 2.7rem);
            color: var(--color-fg);
        }

        &--title {
            @include display-flex(column);
            gap: 0.8rem;
            padding: 1.68rem;
            border: 0.08rem solid $blue-400;
            border-radius: 1rem;

            &-heading {
                @include font-arimo(600, 1.6rem, 2.4rem);
                color: var(--color-fg);
            }

            &-desc {
                @include font-arimo(400, 1.4rem, 2rem);
                color: $gray-700;
            }
        }
    }
}
