<app-mail-header
  [page]="'messaging.routes.sent' | translate"
  [messageCount]="total()"
  [isSent]="true"
></app-mail-header>
@if(isLoading() && (!mails().length || !loadsMoreMails())){
<div class="loading-state">
  <app-route-loader variant="pulsing" />
</div>
} @else if(error()) {
<div class="loading-state">
  <app-error-states
    variant="failed"
    [header]="'messaging.errorStates.header' | translate"
    [message]="'messaging.errorStates.message' | translate"
    [buttonMessage]="'messaging.errorStates.retry' | translate"
    (buttonClick)="retry()"
  />
</div>
} @else if(!mails().length) {
<app-empty-card></app-empty-card>
} @else {
<div class="inbox-container">
  <app-scroll-area
    [height]="'100%'"
    [hideBorder]="true"
    (scrollBottom)="onScrollBottom()"
  >
    @for (mail of mails(); track mail.id) {
    <app-mail-card
      [mail]="mail"
      [isSent]="true"
      (cardClick)="goToDetail($event)"
      [currentUserEmail]="currentUserEmail()"
    >
    </app-mail-card>
    } @if (isLoading()) {
    <div class="loading-more-indicator">
      <app-route-loader variant="pulsing" [fillContainer]="true" />
    </div>
    }
  </app-scroll-area>
</div>
}
