.loading-state {
    margin-top: 25%;
}

.inbox-container {
    position: relative;

    .loading-more-indicator {
        position: absolute;
        bottom: 0;
        height: 4rem;
        width: 100%;
    }
}
