@if (successMessage()) {
<div class="success">
  <app-simple-alerts
    [alertType]="'success'"
    [alertMessage]="successMessage()!"
  ></app-simple-alerts>
</div>
}

<app-basic-card
  [title]="modalConfig.title | translate"
  [subtitle]="modalConfig.subTitle | translate"
  [maxWidth]="'51.1rem'"
  [width]="'100%'"
  [borderColor]="'transparent'"
>
  @if (transaction()) { @let trx = transaction();
  <div class="transaction-summary">
    <div class="transaction-summary__title">{{ trx?.description }}</div>
    <div class="transaction-summary__meta">
      {{ trx?.currency }} {{ trx?.amount }} • <br />
      {{ trx?.createdAt | date:'dd/MM/yyyy' }}
    </div>
  </div>
  }

  <form [formGroup]="form" class="categorize-form">
    <div class="categorize-form__group">
      <lib-select
        [config]="{
             label: (selectConfig.label | translate),
             placeholder: (selectConfig.placeholder | translate),
             height: selectConfig.height
          }"
        [options]="selectCategoryOptions()"
        formControlName="categoryId"
      ></lib-select>
    </div>

    <div class="categorize-form__custom-category">
      <div class="categorize-form__row">
        <div class="categorize-form__input-wrapper">
          <lib-text-input
            [config]="{
                 label: (inputConfig.label | translate),
                 placeholder: (inputConfig.placeholder | translate),
                 margin: inputConfig.margin
              }"
            formControlName="newCategoryName"
          ></lib-text-input>
        </div>

        <app-button
          variant="default"
          [icon]="'add-white.svg'"
          [type]="'button'"
          (click)="onCategoryCreate()"
        >
          {{ 'transactions.categorize_modal.buttons.add' | translate }}
        </app-button>
      </div>
    </div>

    <div class="categorize-form__actions">
      <app-button [variant]="'outline'" (click)="onCancel()" [type]="'button'">
        {{ 'transactions.categorize_modal.buttons.cancel' | translate }}
      </app-button>

      <app-button
        [variant]="'default'"
        [icon]="'save-transaction.svg'"
        [isDisabled]="form.invalid"
        (click)="onSave()"
        [type]="'button'"
      >
        {{ 'transactions.categorize_modal.buttons.save' | translate }}
      </app-button>
    </div>
  </form>
</app-basic-card>
