<div class="categorize-modal">
  <div class="categorize-modal__heading">
    <h3>{{modalConfig.title | translate}}</h3>
    <p>{{modalConfig.subTitle | translate}}</p>
  </div>

  @let trx = transaction(); @if (trx) {
  <div class="categorize-modal__transaction-summary">
    <div class="categorize-modal__title">{{ trx?.description }}</div>
    <div class="categorize-modal__meta">
      {{ trx?.currency }} {{ trx?.amount }} • <br />
      {{ trx?.createdAt | date:'dd/MM/yyyy' }}
    </div>
  </div>
  }
  <form [formGroup]="form" class="categorize-form">
    <div class="categorize-form__group">
      <lib-select
        [config]="{
             label: (selectConfig.label | translate),
             placeholder: (selectConfig.placeholder | translate),
             height: selectConfig.height
          }"
        [options]="selectCategoryOptions()"
        formControlName="categoryId"
      ></lib-select>
    </div>

    <div class="categorize-form__custom-category">
      <div class="categorize-form__row">
        <div class="categorize-form__input-wrapper">
          <lib-text-input
            [config]="{
                 label: (inputConfig.label | translate),
                 placeholder: (inputConfig.placeholder | translate),
                 margin: inputConfig.margin
              }"
            formControlName="newCategoryName"
          ></lib-text-input>
        </div>
        <app-tooltip
          [content]="'transactions.categorize_modal.labels.new-category-tooltip' | translate"
          [disabled]="!!form.value.newCategoryName"
        >
          <app-button
            variant="default"
            [icon]="'add-white.svg'"
            [type]="'button'"
            (click)="onCategoryCreate()"
          >
            {{ 'transactions.categorize_modal.buttons.add' | translate }}
          </app-button>
        </app-tooltip>
      </div>
    </div>

    <div class="categorize-form__actions">
      <app-button [variant]="'outline'" (click)="onCancel()">
        {{ 'transactions.categorize_modal.buttons.cancel' | translate }}
      </app-button>
      <app-tooltip
        [content]="'transactions.categorize_modal.labels.save-category-tooltip' | translate"
        [disabled]="!!form.value.categoryId"
      >
        <app-button
          [variant]="'default'"
          [icon]="'save-transaction.svg'"
          [isDisabled]="form.invalid"
          (click)="onSave()"
          [type]="'button'"
        >
          {{ 'transactions.categorize_modal.buttons.save' | translate }}
        </app-button>
      </app-tooltip>
    </div>
  </form>
</div>
