@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/palette' as *;

.transaction-summary {
  background: $gray-25;
  border-radius: 1rem;
  padding: 1.6rem 1.6rem 0;
  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #0f172a;
    margin-bottom: 0.4rem;
  }
  &__meta {
    font-size: 1.4rem;
    color: $blue-1000;
    line-height: 1.5;
  }
}
.categorize-form {
  @include display-flex(column);
  gap: 1.6rem;
  &__group {
    width: 100%;
  }
  &__custom-category {
    padding-top: 2.4rem;
    margin-top: 0.8rem;
    border-top: 0.1rem solid $blue-400;
    height: fit-content;
  }
  &__row {
    @include flex-center(row, flex-start, flex-end);
    gap: 1.2rem;
    width: 100%;
  }
  &__input-wrapper {
    width: 100%;
  }
  &__actions {
    width: 100%;
    @include flex-center(row, flex-end, center);
    gap: 0.8rem;
  }
}
