<app-basic-card
  [title]="title()"
  [subtitle]="subTitle()"
  [maxWidth]="'51.1rem'"
  [width]="'100%'"
  [borderColor]="'transparent'"
>
  @if (transaction()) { 
    @let trx =transaction();
  <div class="transaction-summary">
    <div class="transaction-summary__title">{{ trx?.description }}</div>
    <div class="transaction-summary__meta">
      {{ trx?.currency }} {{ trx?.amount }} • <br />
      {{ trx?.createdAt | date:'dd/MM/yyyy' }}
    </div>
  </div>
  }
  <form [formGroup]="form" class="categorize-form">
    @if (successMessage()) {
    <app-simple-alerts
      [alertType]="'success'"
      [alertMessage]="successMessage()!"
    ></app-simple-alerts>
    }
    <div class="categorize-form__group">
      <lib-select
        [config]="selectConfig"
        [options]="selectCategoryOptions()"
        formControlName="categoryId"
      ></lib-select>
    </div>
    <div class="categorize-form__custom-category">
      <div class="categorize-form__row">
        <div class="categorize-form__input-wrapper">
          <lib-text-input
            [config]="inputConfig"
            formControlName="newCategoryName"
          ></lib-text-input>
        </div>
        <app-button
          [variant]="'default'"
          [icon]="'adding.svg'"
          [type]="'button'"
          (click)="onCategoryCreate()"
        >
          Add
        </app-button>
      </div>
    </div>
    <div class="categorize-form__actions">
      <app-button [variant]="'outline'" (click)="onCancel()" [type]="'button'">
        Cancel
      </app-button>
      <app-button
        [variant]="'default'"
        [icon]="'save-transaction.svg'"
        [isDisabled]="form.invalid"
        (click)="onSave()"
        [type]="'button'"
      >
        Save Category
      </app-button>
    </div>
  </form>
</app-basic-card>
