<main class="external-recipient">
  <header class="external-recipient__header">
    <h1 class="external-recipient__title">
      {{'transfers.external.recipient.title' | translate}}
    </h1>
  </header>

  <div class="external-recipient__form-group">
    <div class="external-recipient__input-col">
      <lib-text-input
        [formControl]="recipientInput"
        [config]="recipientInputConfig()"
        [state]="recipientInput.valid && recipientInput.value ? 'success' : 'default'"
      ></lib-text-input>
    </div>

    <div class="external-recipient__button-col">
      <app-button
        (click)="onVerify()"
        [isDisabled]="!recipientInput.valid || !recipientInput.value"
        [isLoading]="isLoading()"
        [fullWidth]="isMobile()"
      >
        {{'transfers.external.recipient.verify' | translate}}
        <img src="images/svg/transfers/arrow-right.svg" alt="arrow" />
      </app-button>
    </div>
  </div>

  <!-- <app-success-modal
  [isOpen]="transferSuccess()"
  [title]="'Transfer Successful'"
  [description]="'Your money has been sent.'"
  [buttonText]="'Done'"
  (closed)="onSuccessClose()"
  (done)="onSuccessDone()"
/> -->
  <!-- <app-otp-modal
  [isOpen]="requiresOtp()"
  [title]="'Verify Transfer'"
  [description]="'Enter the code sent to your phone.'"
  [verifyOtpTitle]="'Verify'"
  [isLoading]="isLoading()"
  [hasResend]="true"
  [resendText]="'Didn\'t receive the code?'"
  (closed)="onOtpClose()"
  (verify)="onOtpVerify($event)"
  (resend)="onResendOtp()"
/> -->
</main>

@if (showError()) {
<div class="external-recipient__error-toast">
  <app-alert-types-with-icons
    [alertType]="'error'"
    [alertMessage]="'transfers.external.recipient.recipientNotFound' | translate"
  />
</div>
}
