@if (viewData$ | async; as data) {
<div class="card-list">
  <div class="card-list__header">
    <h1 class="card-list__title">
      {{'my-products.card.card-list.myCards' | translate }}
    </h1>
    <h2 class="card-list__subtitle">
      {{'my-products.card.card-list.manageAccounts' | translate }}
    </h2>
  </div>
  @if (data.loading) {
  <div class="card-list__loading">
    <app-route-loader variant="pulsing" />
  </div>
  } @else if (data.error; as errorMsg) {
  <app-error-states
    variant="failed"
    [header]="'my-products.card.card-list.loadingFailed' | translate"
        [message]="'my-products.card.card-list.loadingFailedMessage' | translate"

    [buttonMessage]="'my-products.card.card-list.retry' | translate"
    (buttonClick)="handleRetry()"
  />
  } @else {
  <div class="card-list__items">
     @for (group of data.groups; track group.account.id) {
  <div class="card-list__group">
    @if (data.cardImagesLoading) {
    <app-skeleton variant="rectangle" width="100%" height="28rem" />
    } @else {
    <app-card-group-item
      [group]="group"
      [isLoading]="false"
      (cardClicked)="handleCardClick($event)"
      (viewAllClicked)="handleViewAllCards($event)"
    />
    }
  </div>
  }
  </div>
 
  <app-add-card-button (clicked)="handleOpenModal()" />
  }
</div>

@if (data.isModalOpen) {
<app-create-card [isOpen]="data.isModalOpen" (closed)="handleCloseModal()" />
} }
