@use '../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../shared/styles/palette' as *;

.card-list {
  @include display-flex(column);
  gap: 3rem;
  width: 100%;
  padding: 3.2rem 4rem;
  @media (max-width: 480px) {
    padding: 3.2rem 0 0 2rem;
  }
  &__header {
    @include flex-center(column, start, start);
  }
  &__title {
    @include font-inter(600, 2rem, 2.8rem);
    color: var(--color-fg);
  }
  &__subtitle {
    @include font-inter(400, 1.4rem, 2rem);
    color: $gray-700;
  }

  &__loading {
    @include flex-center;
  }

  &__alert-container {
    position: fixed;
    top: 7rem;
    right: 1rem;
    z-index: 49;

   
  }
}
