@use '../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../shared/styles/palette' as *;
.account-card {
  width: 100%;
  min-width: 0;
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;

  &__inner {
    @include flex-center($justify: space-between);
    gap: 1.6rem;
    min-width: 0;

    @media (max-width: 1200px) {
      @include flex-center(column, $align: flex-start);
      gap: 1rem;
    }

    @media (max-width: 768px) {
      @include flex-center(column, $align: flex-start);
      gap: 1rem;
    }
  }

  &__left {
    @include flex-center();
    gap: 1.2rem;
  }

  &__avatar {
    @include flex-center();
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 999rem;
    background: $blue-royal-secondary;
  }

  &__content {
    @include display-flex(column);
    gap: 0.4rem;
    min-width: 0;
    max-width: 100%;
       white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

  &__title-row {
    @include flex-center($justify: flex-start);
    gap: 0.6rem;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
          flex: 1;
      max-width: 100%;
      min-width: 0;

    @media (max-width: 480px) {
      flex-wrap: wrap;
      flex-direction: row-reverse;
    }
  }

  &__title {
    @include font-inter(600, 1.8rem);
    color: $blue-1000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 480px) {
      flex: 1;
      max-width: 100%;
      min-width: 0;
    }
  }

  &__number,
  &__type {
    @include font-inter(400, 1.4rem);
    color: $gray-700;
  }

  &__type {
    @media (max-width: 480px) {
      display: none;
    }
  }

  &__number {
    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  &__meta {
    @include flex-center($justify: flex-start);
    gap: 0.8rem;
  }

  &__balance {
    @include font-inter(600, 1.4rem);
    color: $blue-1000;
  }

  &__actions {
    @include flex-center();
    gap: 0.8rem;
  }
}
