@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;

.layout {
    max-width: 110rem;
    margin: 0 auto;
    padding-top: 3.2rem;
    @include flex-center(column, flex-start, stretch);
    gap: 3.2rem;

    &__header {
        @include flex-center(column, center, flex-start);

        h2 {
            @include font-inter(600, 2.4rem, 3.2rem);
            color: var(--color-fg);
        }

        p {
            margin-top: 0.8rem;
            @include font-inter(400, 1.6rem, 2.4rem);
            color: $gray-700;
        }
    }

    &__main {
        @include flex-center(column, flex-start, stretch);
        gap: 3.2rem;
    }
}

.section {
    @include flex-center(column, flex-start, stretch);
    width: 100%;

    &__item {
        @include flex-center(column, flex-start, stretch);
        gap: 1.6rem;
        margin-bottom: 2.4rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__title {
        @include font-inter(400, 1.4rem, 2rem);
        color: $gray-700;
    }

    &__example {
        @include flex-center(column, flex-start, stretch);

        span {
            @include font-inter(400, 1.4rem, 2.1rem);
            color: var(--color-fg);
        }

        &--vertical {
            @include flex-center(row, flex-start, stretch);
            gap: 1.6rem;
            height: 4.8rem;
        }

        &--horizontal {
            @include flex-center(column, flex-start, stretch);
        }
    }
}