@use '../../../../../../../shared/styles/mixins' as mixins;
@use '../../../../../../../shared/styles/palette' as *;

.container {
    max-width: 110rem;
    margin: 0 auto;
    padding-top: 3.2rem;
    @include mixins.flex-center(column, flex-start, stretch);
    gap: 3.2rem;
}

main {
    @include mixins.flex-center(column, flex-start, stretch);
    gap: 3.2rem;
}

header {
    @include mixins.flex-center(column, center, flex-start);
    
    h2 {
        @include mixins.font-inter(600, 2.4rem, 3.2rem);
        color: var(--color-fg);
    }
    p {
        margin-top: 0.8rem;
        @include mixins.font-inter(400, 1.6rem, 2.4rem);
        letter-spacing: -0.031rem;
        color: $gray-700;
    }
}

section {
    padding: 2.4rem;
    background-color: white;
    border: 0.07rem solid $blue-400;
    border-radius: 1rem;

    h3 {
        @include mixins.font-inter(600, 1.8rem, 2.7rem);
        color: var(--color-fg);
        margin-bottom: 1.6rem;
    }

    &.section-separators {
        span {
            @include mixins.font-inter(400, 1.4rem, 2rem);
            color: var(--color-fg);
        }
    }


    .subsection {
        @include mixins.flex-center(column, flex-start, stretch);
        gap: 1.6rem;
        margin-bottom: 2.4rem;
        h4 {
            @include mixins.font-inter(400, 1.4rem, 2rem);
            color: $gray-700;
        }
    }
    .subsection:last-of-type {
        margin-bottom: 0;
    }

    .example {
        @include mixins.flex-center(column, flex-start, stretch);

        span {
            @include mixins.font-inter(400, 1.4rem, 2.1rem);
            color: var(--color-fg);    
        }
    }
}


.example-vertical {
    @include mixins.flex-center(row, flex-start, center);
    height: 4.8rem;
}