<div class="auth-panel">
  <app-auth-header [title]="title" [subTitle]="subtitle"></app-auth-header>

  <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
    <lib-text-input
      type="email"
      formControlName="email"
      [config]="emailConfig()"
    ></lib-text-input>

    <div class="auth-form__actions">
      <app-button type="submit" [fullWidth]="true">
        {{ 'auth.forgot-password.submit' | translate }}
      </app-button>
    </div>
  </form>

  <p class="auth-panel__footer">
    {{ 'auth.forgot-password.rememberPassword' | translate }}
    <a class="auth-link" routerLink="/auth/sign-in"
      >{{ 'auth.forgot-password.signIn' | translate }}</a
    >
  </p>
</div>
