@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/palette' as *;

.auth-panel {
  @include display-flex(column);
  gap: 2.4rem;

  &__header {
    @include display-flex(column);
    gap: 0.8rem;
  }

  &__footer {
    font-size: 1.4rem;
    color: $gray-600;
    text-align: center;
  }
}

.auth-form {
  @include display-flex(column);
  gap: 2.6rem;
}

.auth-link {
  color: $blue-800;
  text-decoration: none;
}

.auth-error {
  color: $red-500;
  font-size: 1.4rem;
}
