<div class="auth-panel">
  <div class="auth-panel__header">
    <h1 class="auth-panel__header__title">
      {{ title | translate}}
    </h1>
    <span class="auth-panel__header__subtitle"
      >{{subtitle | translate}}</span
    >
  </div>

  <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
    <lib-text-input
      type="email"
      formControlName="email"
      [config]="emailConfig()"
    ></lib-text-input>

    @if (submitError()) {
    <div class="auth-error">{{ submitError() }}</div>
    }

    <div class="auth-form__actions">
      <app-button type="submit" [fullWidth]="true" [isLoading]="isSubmitting()">
        {{ 'auth.forgot-password.submit' | translate }}
      </app-button>
    </div>
  </form>

  <p class="auth-panel__footer">
    {{ 'auth.forgot-password.rememberPassword' | translate }}
    <a class="auth-link" routerLink="/auth/sign-in"
      >{{ 'auth.forgot-password.signIn' | translate }}</a
    >
  </p>
</div>
