@use "../../../../../../shared/styles/mixins" as *;
@use "../../../../../../shared/styles/palette" as *;

.reply-card {
    background: $white;
    width: 100%;
    margin: 0 auto;
    transition: all 0.2s ease;
    animation: slideIn 0.3s ease-out;
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    word-break: break-word;

    &__content {
        padding: 1.2rem 2.4rem;
        @include display-flex(row, flex-start);
        gap: 1.2rem;
        flex-direction: row-reverse;
    }

    &__form {
        border: 0.063rem solid var(--color-gray-200);
        border-radius: 1rem;
        box-shadow:
            0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1),
            0 0.15rem 0.4rem 0 rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 1.7rem;
        @include display-flex(column, flex-start);
        gap: 1.2rem;
    }

    &__title {
        @include font-inter(600, 1.4rem, 2rem);
        color: var(--color-fg);
    }

    &__actions {
        @include flex-center($justify: flex-end);
        gap: 0.8rem;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-2rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}