@use '../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../shared/styles/palette' as *;

.edit-profile {
  @include display-flex(column);
  padding: 2.48rem;

  &__header {
    margin-bottom: 2.4rem;
  }

  &__description {
    @include font-arimo(400, 1.4rem, 2rem);
    color: $blue-600;
    margin-top: 0.8rem;
  }

  &__form {
    @include display-flex(column);
    gap: 1.6rem;
  }

  &__input-group {
    @include display-flex(column);
    gap: 0.8rem;
  }

  &__footer {
    @include display-flex;
    justify-content: flex-end;
    gap: 0.8rem;
    margin-top: 2.4rem;

    .btn-primary {
      width: 11.7rem;
    }
  }
}
