<div class="card-preview">
  <h3 class="card-preview__title">{{'my-products.card.create-card-modal.cardPreview.cardPreview' | translate }}</h3>
  <div class="card-preview__display">
    @if (isLoading()) {
      <div class="card-preview__placeholder">
        <app-spinner size="3rem" />
      </div>
    } @else if (designUri()) {
      <img [src]="designUri()" alt="Card preview" class="card-preview__image" />
    } @else {
      <div class="card-preview__placeholder">
        <span>{{'my-products.card.create-card-modal.cardPreview.SelectDesign' | translate }}</span>
      </div>
    }
  </div>
</div>
