@if(!loadingState()) {
<section class="sign-up">
  <app-auth-header
    title="auth.sign-up.title"
    subTitle="auth.sign-up.subtitle"
  ></app-auth-header>
  <app-registration-form
    (submitRegistrationForm)="onSignUp($event)"
    (formIncompleteData)="listenInputedData($event)"
  ></app-registration-form>

  <p class="sign-up__footer">
    {{'auth.sign-up.haveAccount' | translate}}
    <span class="sign-up__link" [routerLink]="['/auth/sign-in']">
      {{'auth.sign-up.signIn' | translate}}
    </span>
  </p>

  @if (errorMessage()) {
  <app-alert-types-with-icons alertType="error" [alertMessage]="errorMessage()">
  </app-alert-types-with-icons>
  }
</section>
} @else {
<div class="sign-up__loader">
  <app-route-loader [variant]="'pulsing'" />
</div>
}
