@use '../../../../shared/styles/palette' as *;
@use '../../../../shared/styles/mixins' as *;

.sign-up {
  @include flex-center(column, $align: start);
  gap: 2.4rem;
  width: 100%;

  &__header {
    @include font-inter(700, 3.6rem, 4rem);
    margin-bottom: 1rem;
    line-height: 1;
    display: block;
    color: var(--color-fg);

    &__title {
      @include font-inter(700, 3.6rem, 4rem);

      @media (min-width: 769px) and (max-width: 1024px) {
        @include font-inter(700, 3.2rem, 3.6rem);
        margin-bottom: 2rem;
      }

      @media (max-width: 768px) {
        @include font-inter(700, 2.8rem, 3.2rem);
        margin-bottom: 1.6rem;
      }
    }

    &__subtitle {
      @include font-inter(400, 1.6rem, 2.4rem);
      color: $gray-700;
      font-size: 1.6rem;
      margin-bottom: 6rem;

      @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 1.8rem;
        margin-bottom: 5rem;
      }

      @media (max-width: 768px) {
        font-size: 1.6rem;
        margin-bottom: 4rem;
        line-height: 2.4rem;
      }
    }
  }

  &__footer {
    color: $gray-700;
    font-size: 1.4rem;
  }

  &__link {
    color: $blue-800;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
