@use '../../../../shared/styles/palette' as *;
@use '../../../../shared/styles/mixins' as *;

.sign-up {
  @include flex-center(column, $align: start);
  gap: 2.4rem;
  width: 100%;

  &__footer {
    color: $gray-700;
    font-size: 1.4rem;
  }

  &__link {
    color: $blue-800;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
