<section class="sign-up">
  <app-auth-header
    title="auth.sign-up.title"
    subTitle="auth.sign-up.subtitle"
  ></app-auth-header>
  <app-registration-form
    [emailError]="emailAvailability()"
    [usernameError]="usernameAvailability()"
    (submitRegistrationForm)="onSignUp($event)"
    (formIncompleteData)="listenInputedData($event)"
    (currentUsername)="handleCurrentUsername($event)"
    (currentEmail)="handleCurrentEmail($event)"
  ></app-registration-form>

  <p class="sign-up__footer">
    {{'auth.sign-up.haveAccount' | translate}}
    <span class="sign-up__link" [routerLink]="['/auth/sign-in']">
      {{'auth.sign-up.signIn' | translate}}
    </span>
  </p>
</section>