@use "../../../../shared/styles/palette" as *;
@use "../../../../shared/styles/mixins" as *;

.messaging-container {
    display: flex;
    width: 100%;
    position: relative;

    &__navbar {
        max-width: 25rem;
        width: 100%;
        padding-right: 1.6rem;
        @include display-flex(column, nowrap);
        gap: 1.2rem;
    }

    &__content {
        width: 100%;
        background-color: $white;
        padding: 1.2rem 0;
        border-radius: 1rem;
        min-height: 90vh;
        height: fit-content;
        box-shadow:
            0rem 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.1),
            0rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.1);
    }

    .fade-alert-container {
        max-width: 30rem;
        width: 100%;
        position: absolute;
        bottom: 1.6rem;
        right: 2.6rem;
        z-index: 1000;
    }
}
