@use "../../../../shared/styles/palette" as *;
@use "../../../../shared/styles/mixins" as *;

.messaging-container {
    display: flex;
    width: 100%;
    position: relative;

    &__navbar {
        max-width: 25rem;
        width: 100%;
        padding-right: 1.6rem;
        @include display-flex(column, nowrap);
        gap: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 10; 
    }

    &__content {
        flex: 1;
        min-width: 0;
        overflow: hidden;
        @include display-flex(column);
        background-color: $white;
        padding: 1.2rem 0;
        border-radius: 1rem;
        height: 100%;
        box-shadow:
            0rem 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.1),
            0rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.1);
    }

}

@media (max-width: 768px) {
    .messaging-container {
        &__navbar {
            max-width: 7.2rem;
            width: 100%;
        }
    }
}

@media (max-width: 350px) {
    .messaging-container {

        &__navbar {
            padding-right: 0.4rem;
            max-width: 5.2rem;
        }
    }
}

@keyframes slideInBounce {
    0% {
        opacity: 0;
        transform: translateY(2rem) scale(0.95);
    }
    50% {
        transform: translateY(-0.5rem) scale(1.02);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
