@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;
@use '../styles/forms-shared' as *;
@use '../styles/forms-mixins' as *;

.layout {
  @extend %flex-stack;
  max-width: 67.2rem;
  margin-bottom: 3.2rem;

  &__row {
    @extend %pair-fields;
  }

  &__field {
    @include display-flex(column);
    @include custom-width();
  }

  &__horizontal {
    @include custom-width();
    @include flex-center(row, space-between);
    position: relative;

    &__field {
      width: 79%;
    }
  }
}
