@use '../../../../../../shared/styles/mixins' as *;
@use '../../../../../../shared/styles/palette' as *;

.external-transfer {
  @include display-flex(column);
  width: 100%;
  height: auto;
  background: $white;
  border: 0.188rem solid $blue-400;
  border-radius: 0.8rem;
  padding: 2.4rem 1.6rem;
  gap: 1.6rem;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 10%),
    0px 1px 2px -1px rgba(0, 0, 0, 10%);

  &__header {
    @include display-flex(column);
    gap: 1.6rem;
  }

  &__title {
    @include font-inter(500, 1.6rem, 1.6rem);
    color: var(--color-fg);
  }

  &__description {
    @include font-inter(400, 1.6rem, 2.4rem);
    color: $blue-600;
  }

  &__stepper {
    padding: 0 16rem 3.2rem;
  }
  &__content {
    @include display-flex();
    justify-content: center;
  }
}
