<section class="finances-summary" [class.loading-state]="loading()">
  @if (loading()) {
    <div class="finances-summary__loading-wrapper">
      <app-spinner size="3rem"></app-spinner>
      <span>{{ 'my-finances.finances.status.syncing' | translate }}</span>
    </div>
  }

  @if (error()) {
    <div class="finances-summary__error-state">
      <app-basic-alerts alertType="error" [alertMessage]="error()!"></app-basic-alerts>
      <app-button variant="outline" (click)="retry.emit(activeFilter()!)">
        {{ 'my-finances.finances.status.retry' | translate }}
      </app-button>
    </div>
  } @else {
    <div class="finances-summary__grid">
      @for (card of summaryCards(); track card.label) {
        <div class="finances-summary__card-wrapper">
          <app-statistic-card
            [label]="card.label | translate"
            [value]="card.value"
            [change]="card.change + ' ' + (card.comparisonLabel | translate)"
            [changeType]="card.changeType"
            [icon]="card.icon"
            [maxWidth]="'100%'"
            [height]="'100%'"
          ></app-statistic-card>
        </div>
      } @empty {
        @if (!loading()) {
          <p class="no-data">{{ 'my-finances.finances.status.no_records' | translate }}</p>
        }
      }
    </div>
  }
</section>