<div class="otp-verification">
  @if (showIcon()) {
  <div class="otp-verification__icon" aria-hidden="true">
    <img [src]="iconUrl()" />
  </div>
  }
  <h2 class="otp-verification__title">{{ title() }}</h2>
  <p class="otp-verification__subtext">{{ subText() }}</p>

  @if (!isLoading()) {
  <form class="auth-form" [formGroup]="activeForm()" (ngSubmit)="onSubmit()">
    @if(timerType() === 'otp'){
    <div class="otp-field">
      <label class="otp-label">Enter OTP Code</label>
      <lib-otp formControlName="code" [config]="otpConfig()"></lib-otp>
    </div>
    } @else {
    <div class="otp-field__phone">
      <lib-text-input
        formControlName="phoneNumber"
        [config]="phoneConfig()"
      ></lib-text-input>
    </div>
    } @if (submitError()) {
      <!-- <app-simple-alerts alertType="error" [alertMessage]="submitError() || ''"></app-simple-alerts> -->
      <div class="auth-error">{{ submitError() }}</div>
    }

    <div class="auth-form__actions">
      <app-button
        [isDisabled]="isResendActive()"
        type="submit"
        size="large"
        [fullWidth]="true"
        [isLoading]="isSubmitting()"
      >
        {{ submitBtnName() }}
      </app-button>
    </div>

    <div class="timer-compact">
      <div class="timer-compact__timer">
        <span
          class="timer-compact__status-dot"
          [class.timer-compact__status-dot--pulse]="countdown() > 0"
        >
        </span>

        <div class="timer-compact__readout">
          <span class="timer-compact__value">{{ countdown() }}</span>
          <span class="timer-compact__unit">s</span>
        </div>
      </div>
      @if(timerType() === 'otp') {
      <div
        class="timer-compact__resend"
        [class.timer-compact__resend--disabled]="countdown() > 0"
      >
        <span class="timer-compact__resend-text">{{ resendText() }}</span>
        <span class="timer-compact__link" (click)="onResend()"> Resend </span>
      </div>
      }
    </div>
    @if (backLink()) {
    <a class="otp-verification__back" [routerLink]="backLink()">
      {{ backLinkText() }}
    </a>
    }
  </form>
  } @else {
  <div class="sign-in sign-in-loader">
    <app-spinner size="4rem"></app-spinner>
  </div>
  }
</div>
