<div class="otp-verification">
  @if (showIcon()) {
  <div class="otp-verification__icon" aria-hidden="true">
    <img [src]="iconUrl()" />
  </div>
  }
  <h2 class="otp-verification__title">{{ title() }}</h2>
  <p class="otp-verification__subtext">{{ subText() }}</p>

  @if (!isLoading()) {
  <form class="auth-form" [formGroup]="otpForm" (ngSubmit)="onSubmit()">
    <div class="otp-field">
      <label class="otp-label">Enter OTP Code</label>
      <lib-otp formControlName="code" [config]="otpConfig()"></lib-otp>
    </div>

    @if (submitError()) {
    <div class="auth-error">{{ submitError() }}</div>
    }

    <div class="auth-form__actions">
      <app-button
        type="submit"
        size="large"
        [fullWidth]="true"
        [isLoading]="isSubmitting()"
      >
        {{ submitBtnName() }}
      </app-button>
    </div>

    <div class="otp-verification__resend">
      <span>{{ resendText() }}</span>
      <span (click)="onResend()" class="otp-verification__resend-link"
        >{{ resendLinkText() }}</span
      >
    </div>
    @if (backLink()) {
    <a class="otp-verification__back" [routerLink]="backLink()">
      {{ backLinkText() }}
    </a>
    }
  </form>
  } @else {
  <div class="sign-in sign-in-loader">
    <app-spinner size="4rem"></app-spinner>
  </div>
  }
</div>
