@use '../../../../shared/styles/mixins' as *;
@use '../../../../shared/styles/palette' as *;

.otp-verification {
  @include display-flex(column);
  max-width: 48rem;
  margin: 0 auto;
  padding: 4rem 2rem;

  &__title {
    @include font-inter(700, 3.2rem, 4rem);
    margin-bottom: 1.6rem;
    color: $gray-800;
  }

  &__subtext {
    @include font-inter(400, 1.6rem, 2.4rem);
    color: $gray-600;
    margin-bottom: 4rem;
  }
}

.auth-form {
  @include display-flex(column);
  gap: 3.2rem;
  width: 100%;

  .otp-field {
    @include flex-center(column, left, center);
    gap: 1.2rem;

    .otp-label {
      @include font-inter(500, 1.4rem, 2rem);
      color: $gray-800;
    }
  }

  &__actions {
    @include display-flex(column);
    gap: 1.6rem;
    margin-top: 1.6rem;
  }
}

.sign-in-loader {
  @include flex-center(row, center, center);
  min-height: 20rem;
  width: 100%;
}