<div class="card-details__actions-grid">
  <app-button
    variant="default"
    [fullWidth]="true"
    icon="transfer.svg"
    (click)="handleTransferOwn()"
  >
  
    {{'my-products.card.card-details.quick-actions-section.transferOwnAccount' | translate }}
  </app-button>

  <app-button
    variant="default"
    [fullWidth]="true"
    icon="transfer.svg"
    (click)="handleTransferExternal()"
  >
    {{'my-products.card.card-details.quick-actions-section.transferSomeoneElse' | translate }}
  </app-button>

  <app-button
    variant="default"
    [fullWidth]="true"
    icon="paybill.svg"
    (click)="handlePaybill()"
  >
    {{'my-products.card.card-details.quick-actions-section.payPaybill' | translate }}
  </app-button>

  <app-button variant="outline" [fullWidth]="true" icon="eye.svg" (click)="handleViewSensitiveDetails()">
    {{'my-products.card.card-details.quick-actions-section.ViewSensitiveDetails' | translate }}
  </app-button>

  <app-button
    variant="outline"
    [fullWidth]="true"
    icon="transactions.svg"
    (click)="handleViewTransactions()"
  >
    {{'my-products.card.card-details.quick-actions-section.ViewTransactions' | translate }}
  </app-button>
</div>