@use "../../../../../../../../../shared/styles/mixins" as *;
@use "../../../../../../../../../shared/styles/palette" as *;

.transaction-card-header {
  @include display-flex(row);

  gap: 2rem;
  width: 100%;

  @media (max-width:768px){
    @include flex-center(column, flex-start, flex-start)
    
  }

  &__card-visual {
    flex-shrink: 0;
  }

  &__image {
    width: 10rem;
    height: 7rem;
    border-radius: 0.8rem;
    object-fit: cover;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
  }

  &__info {
    @include display-flex(column);
    gap: 0.4rem;
    flex: 1;
  }

  &__card-name {
    @include font-inter(600, 2rem, 2.4rem);
    color: $gray-700;
    margin: 0;
  }

  &__card-number,
  &__linked-account {
    @include font-inter(400, 1.4rem, 2rem);
    color: $gray-600;
  }

  &__total {
    @include flex-center(column, end,end);
    gap: 0.4rem;
      @media (max-width:768px){
    @include flex-center(column, flex-start, flex-start)
    
  }

  }

  &__total-label {
    @include font-inter(400, 1.4rem, 2rem);
    color: $gray-600;
    margin: 0;
  }

  &__total-count {
    @include font-inter(700, 2.4rem, 3.2rem);
    color: $gray-600;
    margin: 0;
  }
}