@use '../../../../../../shared/styles/mixins' as *;
@use '../../../../../../shared/styles/palette' as *;


.profile-photo {
  display: block;
  width: 100%;

&__upload-section {
    @include display-flex(column);
    gap: 1.6rem;
  }

  &__section-title {
    @include font-inter(600, 1.6rem, 1.6rem);
    color: var(--color-fg);
    margin: 0;
  }

  &__upload-content {
    @include display-flex(row);
    align-items: center;
    gap: 1.6rem;
  }

  &__file-input {
   
  }

  &__footer {
    @include display-flex(row);
    @include flex-center(row, flex-end, center);
    gap: 1.2rem;
    margin-top: 2.4rem;
  }
}

