@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/palette' as *;
@use '../styles/forms-shared' as *;


.validation__form {
  @extend %flex-stack;
  width: 44.8rem;

  @media (max-width: 780px) {
    width: 40rem;
  }

  @media (max-width: 480px) {
    width: 24rem;
  }

  &--fields {
    width: 100%;

    &__success {
      color: $green-600;
    }

    &__warning {
      color: $yellow-600;
    }
  }
}
