@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;
@use '../styles/forms-shared' as *;
@use '../styles/forms-mixins' as *;

.registration {
  @extend %flex-stack;
  width: 44.8rem;

  &__row {
    @extend %pair-fields;
  }

  &__field {
    @include display-flex(column);
    @include custom-width()
  }

  &__label {
    font-size: 1.4rem;
    color: var(--color-fg-muted);
  }
}
