@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;
@use '../styles/forms-shared' as *;

.registration {
  @extend %flex-stack;
  width: 44.8rem;

  &__row {
    @include display-flex();
    width: 44.8rem;
    gap: 1.6rem;

    & > .registration__field {
      flex: 1 1 0;
    }
  }

  &__field {
    @include display-flex(column);
    width: 44.8rem;
    gap: 0.8rem;
  }

  &__label {
    font-size: 1.4rem;
    color: var(--color-fg-muted);
  }

  &__input {
    @extend %input;
  }

  &__select {
    color: $blue-600;
  }

  &__submit {
    width: 100%;
  }
}
