<app-tree-container
  [groups]="templateGroups()"
  [items]="templates()"
  [canDelete]="true"
  [editable]="true"
  [hasButton]="true"
  [buttonVariant]="'default'"
  [buttonContent]="'paybill.templates.payButton' | translate"
  [hasCheckbox]="true"
  [noCardBorder]="true"
  [errorHeader]="'paybill.templates.errorHeader' | translate"
  [errorMessage]="'paybill.templates.errorMessage' | translate"
  [contentHeader]="true"
  [cardBackground]="true"
  (itemRemoved)="onItemDeleteAction($event)"
  (itemEdited)="onItemEditAction($event)"
  (groupRemoved)="onGroupDeleteAction($event)"
  (groupEdited)="onGroupEditAction($event)"
  (itemMoved)="itemMoved($event)"
  [isLoading]="isLoading()"
  [selectAll]="selectAll()"
  (checkedItemsChange)="onTemplateChecked($event)"
  (buttonClicked)="singleItemSelected($event)"
  [unselectAll]="resetTreeState()"
>
  <app-templates-header
    [headerButtons]="headerButtons"
    [showSelectedItems]="!!selectedItems()?.length"
    (buttonClick)="handleHeaderButtonClick($event)"
    (paySelected)="paySelected()"
  />
</app-tree-container>

<app-ui-modal
  class="modal"
  [isOpen]="isModalOpen()"
  [class.modal--hidden]="isPaymentModalHidden()"
  (closed)="modalOpenAction.emit()"
>
  @if (currentModalConfig(); as config) {
  <app-library-title
    [title]="config.title | translate"
    [subtitle]="config.subtitle | translate"
    class="modal__header"
  />
  @let form = activeForm();

  <main>
    @if (form) {
    <app-create-template-modal
      [form]="form"
      [fields]="config.fields"
      [isCategorySelected]="isCategorySelected()"
      [childProviderOptions]="childProviderOptions()"
      [createTemplateForm]="createTemplateForm()"
      [paymentFields]="paymentFields()"
      [dropdownOptionsMap]="dropdownOptionsMap()"
      [submitVariant]="config.submitButtonType"
      [submitLabel]="config.submitLabel"
      [isLoading]="selectLoading()"
      (cancel)="modalOpenAction.emit()"
      (formSubmit)="onFormSubmit(config.formSubmitType)"
      (childProviderChange)="onChildProviderChange($event.value, $event.index)"
    />
    }@else if(config.formSubmitType === 'confirm-payment') {
    <app-confirm-payment-modal
      [selectedItemsLength]="selectedItems()!.length"
      [isDistribution]="isDistribution()"
      [submitVariant]="config.submitButtonType"
      [submitLabel]="config.submitLabel"
      [isLoading]="isLoading()"
      (cancel)="modalOpenAction.emit()"
      (submit)="onActionHandler(config.submitAction)"
      (distributionChange)="paymentTypeChanged($event)"
    />
    } @else {
    <app-delete-confirm-modal
      [itemIdentifier]="selectedDeleteItem()!"
      [description]="config.description"
      [submitVariant]="config.submitButtonType"
      [submitLabel]="config.submitLabel"
      [isLoading]="isLoading()"
      (cancel)="modalOpenAction.emit()"
      (submit)="onActionHandler(config.submitAction)"
    />
    }
  </main>
  }
</app-ui-modal>

@if(isOtpModalOpen()) {
<app-ui-modal [isOpen]="isOtpModalOpen()" (closed)="onOtpClose()">
  <app-otp-verification
    type="otp"
    timerType="otp"
    [isBtnRowDirection]="true"
    redirectText="Paybills Template"
    [inputOtpConfig]="otpConfig"
    (onBackOut)="onOtpClose()"
    (isVerifyCalled)="onOtpVerify($event)"
    [isButtonLoading]="true"
  ></app-otp-verification>
</app-ui-modal>
} @if(succesModalHidden()) {
<app-success-modal
  [title]="'paybill.templates.success.title' | translate"
  [description]="'paybill.templates.success.subText' | translate"
  [buttonText]="'paybill.templates.success.submitBtnName' | translate"
  [isOpen]="succesModalHidden()"
  (closed)="onSuccessDone()"
  (done)="onSuccessDone()"
></app-success-modal>
}
