@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/palette' as *;
@use '../styles/forms-shared' as *;
@use '../styles/forms-mixins' as *;

.settings-form {
  @extend %flex-stack;
  @include custom-width(44.8rem, 2.4rem);

  @media (max-width: 780px) {
    width: 40rem;
  }

  @media (max-width: 480px) {
    width: 24rem;
  }

  &__field,
  &__radio,
  &__section {
    @include display-flex(column);
    width: 100%;
  }

  &__field {
    @include custom-width(100%, 1.2rem);
  }

  &__section {
    gap: 1.6rem;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__horizontal {
    @include flex-center(row, space-between);

    &__field {
      width: 10%;

      @media (max-width: 480px) {
        width: 18%;
      }
    }
  }

  &__btn-section {
    @include flex-center(row);
    @include custom-width(100%, 0.8rem);

    div {
      width: 100%;
    }
  }

  &__row {
    @extend %pair-fields;
  }
}
