<form
  class="settings-form"
  [formGroup]="settingControl"
  (ngSubmit)="saveChange()"
>
  <div class="settings-form__section">
    <h3 class="settings-form__title">
      {{'storybook.forms.planOptions.subtitle' | translate}}
    </h3>

    <div class="settings-form__field">
      <lib-radios
        class="settings-form__radios"
        [options]="planOptions()"
        [config]="plan"
        formControlName="plan"
      >
      </lib-radios>
    </div>
  </div>

  <div class="settings-form__section">
    <h3 class="settings-form__title">
      {{'storybook.forms.planOptions.subtitle2' | translate}}
    </h3>

    <div class="settings-form__field">
      <div class="settings-form__horizontal">
        <span>{{'storybook.forms.planOptions.option1' | translate}}</span>
        <div class="settings-form__field settings-form__horizontal__field">
          <lib-switches
            formControlName="email"
            [checked]="email"
          ></lib-switches>
        </div>
      </div>

      <div class="settings-form__horizontal">
        <span>{{'storybook.forms.planOptions.option2' | translate}}</span>
        <div class="settings-form__field settings-form__horizontal__field">
          <lib-switches formControlName="push" [checked]="push"></lib-switches>
        </div>
      </div>

      <div class="settings-form__horizontal">
        <span>{{'storybook.forms.planOptions.option3' | translate}}</span>
        <div class="settings-form__field settings-form__horizontal__field">
          <lib-switches formControlName="sms"></lib-switches>
        </div>
      </div>
    </div>
  </div>

  <div class="settings-form__btn-section">
    <div class="settings-form__row">
      <div class="settings-form__field">
        <app-button
          (click)="cancel(navigateRoute())"
          type="button"
          variant="outline"
          [fullWidth]="true"
          >{{'storybook.forms.planOptions.btn1' | translate}}</app-button
        >
      </div>

      <div class="settings-form__field">
        <app-button [fullWidth]="true" type="submit"
          >{{'storybook.forms.planOptions.btn2' | translate}}</app-button
        >
      </div>
    </div>
  </div>
</form>
