@use '../../../../../../shared/styles/palette' as palette;
@use '../../../../../../shared/styles/mixins' as *;

.badge-demo {
  padding: 2.4rem;
  border: 1px solid palette.$blue-400;
  border-radius: 1.2rem;
  background-color: palette.$white;
   @include font-inter(600, 2rem, 1.2);
  max-width: 150rem;
  margin: 2rem auto;


  &__title {
  
    margin: 0 0 1.2rem 0;
    font-weight: 600;
    color: palette.$blue-900;
  }

  &__row {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
  }

  &__label {
    font-weight: 400;
    color: palette.$blue-900;
  }
}