@use '../../../../../../shared/styles/palette' as palette;
@use '../../../../../../shared/styles/mixins' as *;

.badge-demo {
  @include font-inter(600, 2rem, 1.2);
  padding: 2.4rem;
  border: 0.1rem solid palette.$blue-400;
  border-radius: 1.2rem;
  background-color: palette.$white;
  max-width: 100rem;
  margin: 2rem auto;


  &__title {
    margin: 0 0 1.2rem 0;
    color: palette.$blue-900;
  }

  &__subtitle {
    @include font-inter(500, 1.4rem, 1.4);
    margin: 1.6rem 0 0.8rem;
    color: palette.$blue-700;
  }

  &__row {
    @include display-flex(row, wrap);
    gap: 2rem;
  }

  &__list {
    @include display-flex(column);
    gap: 1.6rem;
  }

  &__group {
    @include display-flex(column);
    gap: 0.8rem;
  }
}