@use "../../../../../shared/styles/mixins" as *;

:host {
    flex: 1;
    @include display-flex(column);
}

.loading-state {
    flex: 1;
    width: 100%;
    @include flex-center();
}

.inbox-container {
    position: relative;
    flex: 1;

    app-scroll-area {
        position: absolute;
        inset: 0;
    }

    .loading-more-indicator {
        position: absolute;
        bottom: 0;
        height: 4rem;
        width: 100%;
    }
}