@use "../../../../../shared/styles/mixins" as *;

.loading-state {
    width: 100%;
    height: 92%;
    min-height: 80vh;
    @include flex-center();
}

.inbox-container {
    position: relative;

    .loading-more-indicator {
        position: absolute;
        bottom: 0;
        height: 4rem;
        width: 100%;
    }
}