<app-mail-header
  [page]="'messaging.routes.drafts' | translate"
  [messageCount]="mails().length"
  [isAllSelected]="isAllSelected()"
  (toggleSelectAll)="toggleSelectAll($event)"
  [showBulkActions]="hasBulkSelection()"
  (bulkDelete)="deleteSelectedMails()"
  [isDraft]="true"
></app-mail-header>
@if(isLoading()){
<div class="loading-state">
  <app-route-loader variant="pulsing"/>
</div>
} @else if(!mails().length) {
<app-empty-card></app-empty-card>
}@else {
<div>
  @for (mail of mails(); track mail.id) {
  <app-mail-card
    [mail]="mail"
    [isDraft]="true"
    [checked]="selectedMailIds().has(mail.id)"
    (checkedChange)="onMailChecked(mail.id, $event)"
    (deleteMail)="deleteMail(mail.id)"
    (cardClick)="goToDetail($event)"
  >
  </app-mail-card>
  }
</div>
}
