<div class="forms__lib">
  <header class="forms__lib__header">
    <app-library-title
      [title]="pageInfo().title"
      [subtitle]="pageInfo().subtitle"
    ></app-library-title>
  </header>

  <app-showcase-card [title]="titles().contact">
    @defer {
    <app-contact-form></app-contact-form>
    } @placeholder {
    <app-skeleton></app-skeleton>
    }
  </app-showcase-card>

  <app-showcase-card [title]="titles().registration">
    @defer {
    <app-registration-form [isRegistration]="true"></app-registration-form>
    } @placeholder {
    <app-skeleton></app-skeleton>
    }
  </app-showcase-card>

  <app-showcase-card [title]="titles().settings">
    <app-settings-form navigateRoute=""></app-settings-form>
  </app-showcase-card>

  <app-showcase-card [title]="titles().inline">
    <app-inline-form></app-inline-form>
  </app-showcase-card>

  <app-showcase-card [title]="titles().validation">
    <app-validation-form></app-validation-form>
  </app-showcase-card>

  <app-showcase-card [title]="titles().multiStep">
    <app-multistep-forms></app-multistep-forms>
  </app-showcase-card>

  <app-showcase-card [title]="titles().layout">
    <app-layout-form></app-layout-form>
  </app-showcase-card>
</div>
