
<div class="card-transactions">
  @if (isLoading$ | async) {
  <div class="card-transactions__loading">
    <app-route-loader variant="pulsing" />
  </div>
  } @else if (error$ | async; as errorMsg) {
  <app-error-states
    variant="failed"
    [header]="'my-products.card.card-transactions.failedToLoadTransactions' | translate"
    [message]="'my-products.card.card-transactions.loadingFailedMessage' | translate"
    [buttonMessage]="'my-products.card.card-transactions.retry' | translate"
    (buttonClick)="handleRetry()"
  />
  } @else {
  <div class="card-transactions__header">
    <app-button
      variant="ghost"
      [icon]="'left-arrow.svg'"
      (click)="handleBack()"
    >
      {{'my-products.card.card-transactions.backToCard' | translate }}
    </app-button>
  </div>

  @if (cardHeaderData$ | async; as headerData) { @if (headerData) {
  <app-basic-card [maxWidth]="'100%'" [padding]="'2rem'" [minHeight]="'12rem'">
    <app-transaction-card-header
      [imageBase64]="headerData.imageBase64"
      [cardName]="headerData.cardName"
      [maskedNumber]="headerData.maskedNumber"
      [linkedAccountName]="(accountName$ | async) || 'N/A'"
      [totalTransactions]="getTotalCount((transactions$ | async) || [])"
    />
  </app-basic-card>
  } }

  <app-basic-card [maxWidth]="'100%'" [padding]="'2rem'">
    <div>
       <h2 class="card-transactions__title">{{'my-products.card.card-transactions.transactionHistory' | translate }}</h2>
    <h3 class="card-transactions__subtitle">{{'my-products.card.card-transactions.allTransactions' | translate }}</h3>
    </div>
   
    <app-transaction-list
      [transactions]="getPaginatedTransactions((transactions$ | async) || [], (currentPage$ | async) ?? 1)"
      [uncategorizedText]="(uncategorizedText$ | async) || 'Uncategorized'"
      [locale]="(currentLocale$ | async) || 'en-US'"
    />

    @if (getTotalPages((transactions$ | async) || []) > 1) {
    <app-pagination
      [currentPage]="(currentPage$ | async) ?? 1"
      [totalPages]="getTotalPages((transactions$ | async) || [])"
      (pageChange)="handlePageChange($event)"
      [config]="paginationConfig()"
    />
    }
  </app-basic-card>
  }
</div>