@use '../../../../../../shared/styles/variables';
@use '../../../../../../shared/styles/palette';
@use '../../../../../../shared/styles/mixins';

nav {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0.4rem;
  background-color: palette.$white;
  border: 1px solid palette.$blue-400;
  border-radius: 1rem;
  margin-left: 2.4rem;

  a {
    @include mixins.font-arimo(400, 1.4rem, 2rem);
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    color: palette.$blue-900;
    border-radius: 0.375rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: palette.$blue-900;
      border-bottom: 1px solid palette.$blue-400;
    }
  }
}
