<div class="payment__modal">
  <app-selected-items [forModal]="true"></app-selected-items>
  <app-payment-distribution
    [selectedItemsLength]="selectedItemsLength()"
    (isDistribution)="distributionChange.emit($event)"
  ></app-payment-distribution>
  <app-bills-list [isDistribution]="isDistribution()"></app-bills-list>
  <app-total-amount></app-total-amount>
  <app-account-select [maxVisible]="5" [isHeader]="true"></app-account-select>
  <app-modal-actions
    [submitVariant]="submitVariant()"
    [submitLabel]="submitLabel()"
    [isLoading]="isLoading()"
    (cancel)="cancel.emit()"
    (submit)="submit.emit()"
  />
</div>
