@use '../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../shared/styles/palette' as *;
.payment__modal {
  @include display-flex($direction: column);
  gap: 1.6rem;
  max-height: 80vh;
  &__scroll {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    &__wrapper {
      @include display-flex($direction: column);
      gap: 1.6rem;
    }
  }
}
