<div class="container">
    @if(alertService.alertType()) {
    <div class="container__alert">
        <app-alert-types-with-icons [alertType]="alertService.alertType()!" [alertMessage]="alertService.alertMessage()" />
    </div>
    }
    @if(isLoading()) {
    <div class="container__cards">
        <app-skeleton height="10rem"></app-skeleton>
        <app-skeleton height="10rem"></app-skeleton>
    </div>
    } @else if(hasError()) {
    <app-error-states></app-error-states>
    } @else {
    <div class="container__cards">
        @for(language of languages(); track language.id) {
        <app-language-selection-card [language]="language" [isSelected]="isLanguageSelected(language)"
            (selected)="onLanguageSelect($event)" />
        }
    </div>
    <div class="container__actions">
        <app-button (click)="onSave()" [isDisabled]="!selectedLanguage()">
            {{'settings.language.saveChanges' | translate}}
        </app-button>
    </div>
    }
</div>