<app-email-detail [data]="emailDetail?.()">
  @if (!fromSent) {
  <div class="button-container">
    <app-button icon="send-email.svg" (click)="sendDraft()"
      >{{ 'messaging.compose.send' | translate }}</app-button
    >
    <app-button
      variant="outline"
      [icon]="'red-trash.svg'"
      (click)="onDelete($event)"
      ><span class="delete-btn"
        >{{ 'messaging.mail-detail.delete' | translate }}</span
      ></app-button
    >
  </div>
  } @else if (fromSent) {
  <div class="button-container">
    <app-button [icon]="'reply.svg'" (click)="onReply()"
      >{{ 'messaging.mail-detail.reply' | translate }}</app-button
    >
  </div>
  }
</app-email-detail>
@if (mailReplies().length && fromSent) { @for (reply of mailReplies(); track
reply.id) {
<app-replies-card
  [reply]="reply"
  [currentUserEmail]="currentUserEmail()"
></app-replies-card>
} } @if (isReplyOpen()) {
<div #replyCard>
  <app-reply-form
    (sendReply)="onSendReply($event)"
    (cancel)="onCancelReply()"
  ></app-reply-form>
</div>
}
<app-ui-modal [isOpen]="isDeleteModalOpen()" (closed)="onCancelDelete()">
  <div class="delete-account">
    <header class="delete-account__header">
      <app-library-title
        [title]="'messaging.deleteModal.title' | translate"
        [subtitle]="'messaging.deleteModal.subtitle' | translate"
      ></app-library-title>
    </header>
    <footer class="delete-account__footer">
      <app-button variant="outline" (click)="onCancelDelete()"
        >{{ 'messaging.deleteModal.cancel' | translate }}</app-button
      >
      <app-button
        variant="destructive"
        (click)="onConfirmDelete()"
        [isLoading]="isDeleting()"
        icon="trash-icon.svg"
        >{{ 'messaging.deleteModal.delete' | translate }}</app-button
      >
    </footer>
  </div>
</app-ui-modal>
