@use "../../../../../../../shared/styles/palette" as *;
@use "../../../../../../../shared/styles/mixins" as *;
@use "../../../../../../../shared/styles/themes" as *;

.prepayment-step {
    @include display-flex(column);
    height: 100%;
    min-height: 40rem;
    gap: 1.6rem;

    &__header {
        &-icon {
            @include flex-center(row, flex-start);
            gap: 1.2rem;
            margin-bottom: 0.8rem;

            img {
                @include svg-icon(2.4rem);
            }
        }
    }

    &__title {
        margin: 0;
        color: var(--color-fg);
        @include font-inter(600, 2rem, 1.2);
    }

    &__subtitle {
        color: $blue-600;
        @include font-inter(400, 1.4rem, 1.5);
    }

    &__body {
        flex: 1;
        @include display-flex(column);
        gap: 1.6rem;
    }

    &__section-title {
        margin: 0;
        color: $blue-1000;
        @include font-inter(600, 1.6rem, 1.5);
    }

    &__form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem;
        align-items: start;

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }

    &__radios {
        @include display-flex(column);
    }

    &__footer {
        @include flex-center(row, flex-end);
        gap: 1.6rem;

        @media (max-width: 600px) {
            flex-direction: column-reverse;

            *{
                width: 100%;
            }
        }
    }
}
