<div class="transactions-filters">
  <div class="transactions-filters__heading">
    <div>
      <h3 class="transactions-filters__title">
        {{'transactions.filters.title' | translate}}
      </h3>
      <p class="transactions-filters__subtitle">
        {{'transactions.filters.subtitle' | translate}}
      </p>
    </div>
    @if(presenter.hasActiveFilter()){
    <app-button
      [type]="'reset'"
      [variant]="'outline'"
      [icon]="'x-icon.svg'"
      (click)="presenter.resetFilters()"
    >
      {{ 'transactions.filters.reset_all' | translate }}
    </app-button>
    }
  </div>

  <div class="transactions-filters__mobile-toggle">
    <app-button
      [variant]="'outline'"
      [icon]="actions.isFiltersOpen() ? 'dropup-icon.svg' : 'dropdown-icon.svg'"
      (click)="actions.toggleFilters()"
      [fullWidth]="true"
    >
      {{ 'transactions.filters.show_filters' | translate }}
    </app-button>
  </div>

  <form
    [formGroup]="presenter.filterForm"
    class="transactions-filters__form"
    [class.is-open]="actions.isFiltersOpen()"
  >
    @for (field of presenter.filtersConfig(); track field.controlName) {

    <div class="transactions-filters__form__input-wrapper">
      @if (field.type === 'select') {
      <lib-select
        [formControlName]="field.controlName"
        [options]="field.options || []"
        [config]="{
             label: (field.uiConfig.label | translate),
             placeholder: (field.uiConfig.placeholder | translate),
             disabled:field.uiConfig.disabled
          }"
        [height]="'3.6rem'"
      >
      </lib-select>

      } @else {

      <lib-text-input
        [formControlName]="field.controlName"
        [type]="field.inputType || 'text'"
        [config]="{
             label: (field.uiConfig.label | translate),
             max: field.uiConfig.max,
           errorMessage: field.inputType === 'date' 
        ? ('transactions.filters.errors.max_date' | translate: { date: presenter.today}) 
        : (field.uiConfig.errorMessage | translate)
    }"
      >
      </lib-text-input>
      }
    </div>
    }
  </form>

  @if (presenter.activeFilters().length > 0) {
  <div class="transactions-filters__active-filters">
    @for (filter of presenter.activeFilters(); track filter.key) {
    <app-button
      [variant]="'outline'"
      [icon]="'x-icon.svg'"
      (click)="presenter.removeFilter(filter.key)"
    >
      <span class="filter-text">
        {{ filter.label | translate }} : {{ filter.value }}
      </span>
    </app-button>
    }
  </div>
  }
</div>
