@use '../../../../../../../shared/styles/mixins' as *;

.alerts-page {
  max-width: 110rem;
  width: 100%;
  min-height: 6.4rem;
  margin: 0 auto;
  padding: 1.6rem;
  @include display-flex(column);
  gap: 3.2rem;
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0rem 1.6rem 1.6rem;

  &__title {
    margin: 2rem 0;
    width: 100%;
  }

  &__content {
    max-width: 110rem;
    @include display-flex(column);
    gap: 3.2rem;
    width: 100%;
  }

  &__group {
    @include display-flex(column);
    gap: 1.6rem;
    width: 100%;
  }

  &__card {
    @include flex-center(row, space-between, center);
    width: 100%;
    flex-wrap: wrap;
    &__subtitle {
      @include font-arimo(700, 1.8rem, 2.7rem);
      color: var(--color-fg);
      margin: 0; 
    }
  }
}
