<app-basic-card
  maxWidth="100%"
  minHeight="65rem"
  padding="2.4rem 0 2.4rem 2.4rem"
  justifyContent="space-between"
  class="basic-card"
>
  <header class="category-header">
    <div class="category-header__icon-box">
      @if (isLoading()) {
      <app-skeleton
        variant="rectangle"
        width="100%"
        height="100%"
        borderRadius="1.6rem"
      />
      } @else {
      <div
        class="category-header__icon-background"
        [style.background-color]="iconBgColor()"
      >
        <img [src]="iconBgPath()" class="category-header__img" alt="" />
      </div>
      }
    </div>

    <div class="category-header__text">
      @if (isLoading()) {
      <div class="skeleton-text-group">
        <app-skeleton variant="text" width="16rem" height="2.4rem" />
        <app-skeleton variant="text" width="12rem" height="1.6rem" />
      </div>
      } @else {
      <h2 class="category-header__title">{{ provider().name }}</h2>
      <p class="category-header__subtitle">
        {{ ui.SUMMARY_SUBHEADER | translate }}
      </p>
      }
    </div>
  </header>

  <div class="confirm-container">
    <div class="confirm-container__summary">
      <app-payment-summary
        [items]="summaryItems()"
        [headerTitle]="ui.TITLE | translate"
        [headerSubtitle]="ui.SUBTITLE | translate"
        type="confirm-payment"
      />
    </div>

    <div class="confirm-container__options">
      <lib-select
        [options]="currentAccounts()!"
        [(value)]="selectedAccountId"
        [config]="selectConfig"
        [maxVisibleItems]="2.5"
      />
    </div>

    <footer class="confirm-container__actions">
      <app-button
        class="btn-confirm"
        [fullWidth]="true"
        (click)="confirm.emit()"
        [isDisabled]="isLoading()"
      >
        {{ 'paybill.main.confirm.confirm_btn' | translate: { amount:
        (summary().amount | currency: 'GEL' : ('GEL' | currencySymbol) :
        '1.2-2') } }}
      </app-button>

      <app-button
        class="btn-cancel"
        [fullWidth]="true"
        variant="secondary"
        (click)="cancelPayment.emit()"
      >
        {{ 'paybill.main.confirm.cancel_btn' | translate }}
      </app-button>
    </footer>
  </div>
</app-basic-card>
