<app-basic-card
  maxWidth="100%"
  minHeight="65rem"
  padding="0rem 0 2.4rem 2.4rem"
  justifyContent="space-between"
>
  <header class="category-header">
    <div class="category-header__icon-box">
      <div
        class="category-header__icon-background"
        [style.background-color]="iconBgColor()"
      >
        <img [src]="iconBgPath()" class="category-header__img" alt="" />
      </div>
    </div>

    <div class="category-header__text">
      <h2 class="category-header__title">{{ provider().name }}</h2>
      <p class="category-header__subtitle">
        {{ ui.SUMMARY_SUBHEADER | translate }}
      </p>
    </div>
  </header>

  <div class="confirm-container">
    <div class="confirm-container__summary">
      <app-payment-summary
        [items]="summaryItems()"
        [headerTitle]="ui.TITLE | translate"
        [headerSubtitle]="ui.SUBTITLE | translate"
        type="confirm-payment"
      />
    </div>

    <div class="confirm-container__options">
      <lib-select
        [options]="currentAccounts()!"
        [(value)]="selectedAccountId"
        [config]="selectConfig"
        [maxVisibleItems]="2.5"
      />
    </div>

    <footer class="confirm-container__actions">
      <app-button
        class="btn-confirm"
        [fullWidth]="true"
        (click)="confirm.emit()"
        [isDisabled]="isLoading()"
      >
        {{ 'paybill.main.confirm.confirm_btn' | translate: { amount:
        (summary().amount) | currency: 'GEL' : 'symbol' } }}
      </app-button>

      <app-button
        class="btn-cancel"
        [fullWidth]="true"
        variant="secondary"
        (click)="cancelPayment.emit()"
      >
        {{ 'paybill.main.confirm.cancel_btn' | translate }}
      </app-button>
    </footer>
  </div>
</app-basic-card>
