

<app-ui-modal [isOpen]="isOpen()" (closed)="onClose()">
  <div class="create-card">
    <div class="create-card__header">
      <h2 class="create-card__title">Create New Card</h2>
      <p class="create-card__subtitle">
        Add a new credit or debit card to your account
      </p>
    </div>

    <app-card-preview
      [isLoading]="isLoadingData()"
      [designUri]="selectedDesignUri()"
    />

    <app-design-selector
      [designs]="creationData().designs"
      [selectedDesign]="selectedDesign()"
      [isLoading]="isLoadingData()"
      (designSelected)="onDesignSelected($event)"
    />

    <app-create-card-form
      [formGroup]="cardForm"
      [categoryOptions]="categoryOptions()"
      [typeOptions]="typeOptions()"
      [accountOptions]="accountOptions()"
      [isCreating]="isCreating()"
      [createError]="createError()"
      (formSubmit)="onFormSubmit()"
      (formCancel)="onFormCancel()"
    />
  </div>
</app-ui-modal>