<app-paybill-confirm-payment
  [provider]="facade.activeProvider()!"
  [summary]="facade.paymentPayload()!"
  [details]="facade.verifiedDetails()!"
  (confirm)="confirmPayment()"
  [iconBgColor]="facade.activeCategoryUI()!.iconBgColor"
  [iconBgPath]="facade.activeCategoryUI()!.iconBgPath"
  (cancelPayment)="onBackToDetails()"
  [currentAccounts]="facade.storeAccounts()"
  [selectedAccountId]="facade.selectedSenderAccountId()!"
  (selectedAccountIdChange)="facade.updateSenderAccount($event)"
  [isLoading]="facade.isLoading()"
/>
