<section class="context">
  <section class="context-demo">
    <app-library-title
      [title]="contextTitle()"
      [subtitle]="contextSubtitle()"
    ></app-library-title>

    <div class="context-demo__area" (contextmenu)="onRightClick($event)">
      <span class="context-demo__hint">{{ contextHint() }}</span>
    </div>
  </section>
  @if (isMenuVisible()) {
  <app-ui-context
    [position]="menuPosition()"
    [items]="menuItems()"
    (menuClose)="isMenuVisible.set(false)"
    (itemClick)="handleAction()"
  ></app-ui-context>
  }
</section>
