<div class="wizard-wrapper">
    @if (step() === 'options') {
    <app-prepayment-option-step [isLoading]="isLoading() || false" [loan]="loan()" (cancel)="close.emit()"
        (calculate)="onCalculate($event)">
    </app-prepayment-option-step>
    }

    @if (step() === 'review' && calculationResult(); as result) {
    <app-prepayment-review [isLoading]="isLoading()" [calculationResult]="result" (cancel)="step.set('options')"
        (confirmPay)="onProceedToOtp()">
    </app-prepayment-review>
    }

    @if (step() === 'otp') {
    <app-verify [isLoading]="isLoading()" (cancel)="step.set('review')" (verify)="onVerifyOtp($event)">
    </app-verify>
    }
</div>