<div class="wizard-wrapper">
    @if (showOtpAlert()) {
    <div class="wizard-alert">
        <app-basic-alerts [alertType]="'default'" [alertState]="'default'" [alertTitle]="'Success'"
            [alertMessage]="'OTP Sent to your registered mobile number'">
        </app-basic-alerts>
    </div>
    }
    @if (step() === 'options') {
    <app-prepayment-option-step [loan]="loan()" (cancel)="close.emit()" (calculate)="onCalculate($event)">
    </app-prepayment-option-step>
    }

    @if (step() === 'review' && calculationResult(); as result) {
    <app-prepayment-review [calculationResult]="result" (cancel)="step.set('options')" (confirmPay)="onProceedToOtp()">
    </app-prepayment-review>
    }

    @if (step() === 'otp') {
    <app-verify (cancel)="step.set('review')" (verify)="onVerifyOtp($event)">
    </app-verify>
    }
</div>