@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;

.category-header {
  @include flex-center($direction: row, $justify: flex-start);
  gap: 1.6rem;
  margin-bottom: 3rem;

  &__icon-box {
    @include flex-center;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 1.4rem;
  }
  &__img {
    width: 3.2rem;
    height: 3.2rem;
  }
  &__text {
    @include flex-center($direction: column, $align: flex-start);
  }
  &__title {
    @include font-inter(500, 2.4rem, 3.2rem);
    color: var(--color-fg);
    margin: 0;
  }
  &__subtitle {
    @include font-inter(400, 1.6rem, 2.4rem);
    color: $blue-600;
    margin: 0;
  }
}

.provider-list {
  @include display-flex(column);
  width: 100%;
  padding-right: 2.4rem;
}

.provider-group {
  margin-bottom: 2.4rem;

  &__header {
    @include font-inter(600, 1.4rem, 2rem);
    color: $gray-500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0 0 1.2rem 0.4rem;
  }

  &__items {
    @include display-flex(column);
    gap: 0.8rem;
  }
}

.skeleton__wrapper {
  @include flex-center(column, $align: flex-start);
  gap: 2rem;
}
