<aside
  class="sidebar-wrapper"
  [class.sidebar-wrapper--collapsed]="isCollapsed()"
>
  <button class="sidebar-wrapper__collapse-btn" (click)="toggleCollapse()">
    <img
      src="images/svg/sidebar-nav/arrow-left.svg"
      alt="collapse"
      [class.rotated]="isCollapsed()"
    />
  </button>

  <div class="sidebar-wrapper__header">
    <div class="sidebar-wrapper__header__title-icon">T</div>

    @if (!isCollapsed()) {

    <div class="sidebar-wrapper__header__title">TIA</div>

    }
  </div>

  <app-navigation-bar
    [orientation]="'vertical'"
    [items]="items()"
    [collapsed]="isCollapsed()"
  ></app-navigation-bar>

  <footer>
    <app-button (click)="onLogout()" [fullWidth]="true" variant="ghost">
      <img src="images/svg/sidebar-nav/logout.svg" alt="logout icon" />

      @if (!isCollapsed()) { {{'common.buttons.logout' | translate}} }
    </app-button>
  </footer>
</aside>
