@use '../shared/styles/mixins' as *;

.bank-container-wrapper {
  @include display-flex(row);
  width: 100vw;
}

.bank-container-sidebar {
  flex-shrink: 0;
}

.bank-container-content {
  @include display-flex(column);
  flex: 1;
  min-width: 0;
}
