<app-ui-modal [isOpen]="timeWarning() > 0">
  <div class="inactivity-overlay">
    <app-library-title
      [title]="modalTitle"
      [subtitle]="subtitle"
    ></app-library-title>
    <div class="inactivity-overlay__circle inactivity-overlay__circle--timer">
      {{ timeWarning() }}
    </div>
  </div>
</app-ui-modal>

<div class="bank-container">
  <app-sidebar></app-sidebar>

  <div class="bank-container__content">
    <app-bank-header-container></app-bank-header-container>

    <div class="bank-container__router-area">
      @if (isLoading()) {
      <div class="bank-container__loader-overlay">
        <app-route-loader variant="pulsing"></app-route-loader>
      </div>
      }
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
