@use '../shared/styles/mixins' as *;

.bank-container-wrapper {
  @include display-flex(row);
}

.bank-container-content {
  @include display-flex(column);
  flex: 1;
  min-width: 0;
}

.inactivity-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__circle {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--timer {
      background: #dbeafe;
      color: #155dfc;
      @include font-inter(600, 2.8rem);
      margin-top: 2.4rem;
    }
  }
}
