@use "../../../../../../../../../shared/styles/mixins" as *;
@use "../../../../../../../../../shared/styles/palette" as *;

.transaction-list {
  @include display-flex(column);
  gap: 1.2rem;
  width: 100%;

  &__empty {
    @include flex-center();
    padding: 4rem 2rem;
  }

  &__empty-text {
    @include font-inter(400, 1.6rem, 2.4rem);
    color: $gray-600;
    margin: 0;
  }

  &__items {
    @include display-flex(column);
    gap: 1.2rem;
  }
}