@use "../../../../../../../../../shared/styles/mixins" as *;
@use "../../../../../../../../../shared/styles/palette" as *;

.card-grid-item {
  @include display-flex(column);
  gap: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-0.4rem);
  }

  &__image {
    width: 100%;
    max-width: 36rem;
    height: auto;
    border-radius: 1.6rem;
    display: block;
  }

  &__info {
    @include display-flex(column);
    gap: 0.8rem;
    max-width: 35rem;
  }

  &__name {
    @include font-inter(600, 1.6rem, 1.5);
    color: $blue-1000;
  }

  &__meta {
    @include flex-center(row, space-between, center);
    gap: 1.2rem;
  }

  &__currency,
  &__limit {
    @include font-inter(400, 1.4rem, 1.5);
    color: $gray-600;
  }
}