<section class="finances-details-grid">
  <div class="finances-card">
    <div class="finances-card__header">
      <h3 class="card-title">{{ 'my-finances.finances.transactions.title' | translate }}</h3>
      <p class="card-subtitle">{{ 'my-finances.finances.transactions.subtitle' | translate }}</p>
    </div>
    <div class="finances-card__list">
      @for (tx of transactions(); track tx.id) {
      <div class="transaction-item">
        <div class="transaction-item__left">
          <div class="transaction-item__icon-container">
            <div class="transaction-item__icon-box"
            [style.background-color]="tx.categoryColor + '1A'" 
            [style.color]="tx.categoryColor"
            >
              @if (tx.isImageIcon) {
                <img [src]="tx.icon" [alt]="tx.category" class="transaction-item__category-img">
              } @else {
                <span class="transaction-item__raw-icon">{{ tx.icon }}</span>
              }
            </div>

            <div class="transaction-item__status-badge" [class.is-income]="tx.type === 'income'">
              <img 
                [src]="tx.statusIcon"
                alt="status"
              >
            </div>
          </div>

          <div class="transaction-item__info">
            <span class="transaction-item__title">{{ tx.title }}</span>
            <span class="transaction-item__category">{{ tx.category }}</span>
          </div>
        </div>
        <div class="transaction-item__right">
          <span class="transaction-item__amount" [class.income]="tx.type === 'income'">
            {{ tx.type === 'income' ? '+' : '-' }}{{ tx.amount | currency:'USD':'symbol':'1.0-1' }}
          </span>
          <span class="transaction-item__date">{{ tx.date | date:'dd/MM/yyyy' }}</span>
        </div>
      </div>
      }
      @empty {
        <app-error-states
          variant="not-found"
          [header]="'my-finances.finances.empty.notransaction' | translate"
          [message]="'my-finances.finances.empty.nomessage' | translate"
          [showButton]="false"
          [border]="false"
        />
      }
    </div>
  </div>
</section>