<app-settings-body
  maxWidth="100%"
  minHeight="11.4rem"
  padding="1.8rem"
  alignItems="start"
  justifyContent="space-between"
  gap="1.6rem"
  flexDirection="column"
>
  @if (store.loading()) {
    <div class="accounts-skeleton-grid">
      @for (i of [1,2,3]; track i) {
        <div class="accounts-card-skeleton">
          <div class="skeleton-header">
            <app-skeleton variant="circle" height="4rem" width="4rem"></app-skeleton>
            <div class="skeleton-titles">
              <app-skeleton variant="text" height="1.6rem" width="9rem"></app-skeleton>
              <app-skeleton variant="text" height="1.2rem" width="5rem"></app-skeleton>
            </div>
          </div>
          <div class="skeleton-body">
            <app-skeleton height="6rem"></app-skeleton>
          </div>
        </div>
      }
    </div>
  } @else {
    @if(store.accounts()?.length) {
      @if (store.accounts()?.length) {
        @for (item of store.accounts()!; track item.id) {
          <div class="card-wrapper">
            <app-account-card
              [isFavorite]="item.isFavorite"
              [isHidden]="item.isHidden"
              [name]="item.friendlyName"
              [type]="item.type"
              [iban]="item.iban"
              [balance]="item.balance"
              [currency]="item.currency"
              [isVisibilityLoading]="isVisibilityLoading(item.id)"
              [isFavoriteLoading]="isFavoriteLoading(item.id)"
              [isChangeNameLoading]="isChangeNameLoading(item.id)"
              (clickFaforite)="handleFavorite(item.id, $event)"
              (clickHideUnhide)="handleVisibility(item.id, $event)"
              (clickFriendlyName)="openChangeName(item.id, item.friendlyName, item.iban)"
            ></app-account-card>
          </div>
        }
      }
    } @else {
      @if(store.error()) {
        <app-error-states
          maxWidth="86rem"
          message="We couldn't find any data to display."
          (buttonClick)="failRetryClick()"
          [border]="false"
        />
      } @else {
        <app-error-states
          maxWidth="86rem"
          variant="not-found"
          header="No Data Found"
          message="We couldn't find any data to display."
          buttonMessage="Go Back"
          [border]="false"
          (buttonClick)="backButtonClick()"
        />
      }
    }
  }
</app-settings-body>

<app-change-name
  [isOpen]="changeNameOpen()"
  [initialName]="changeNameInitial()"
  [initialAccountNumber]="changeNameAccountNumber()"
  (submit)="submitChangeName($event)"
  (close)="closeChangeName()"
></app-change-name>

<app-scroll-area>
  
</app-scroll-area>