@use '../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../shared/styles/palette' as *;

.payment__distribution {
  background-color: $gray-25;
  border: 1px solid $gray-200;
  padding: 1.7rem;
  border-radius: 1rem;
  margin-bottom: 1.6rem;

  h3 {
    @include font-inter(600, 1.4rem, 1.4rem);
    color: var(--color-fg);
    margin-bottom: 1rem;
  }

  &__buttons {
    @include display-flex();
    gap: 1.2rem;
  }
}

.equal-distribution__container {
  padding: 1.7rem;
  background-color: $gray-100;
  border: 1px solid $blue-200;
  border-radius: 1rem;
  h3 {
    @include font-inter(600, 1.6rem, 1.6rem);
    color: $blue-950;
    margin-bottom: 0.75rem;
  }

  &__input {
    @include flex-center($justify: flex-start);
    flex: 1;
    gap: 0.8rem;
    label {
      @include font-inter(600, 1.8rem, 2.8rem);
      color: var(--color-fg);
    }

    lib-text-input {
      flex: 1;
      min-width: 0;
    }
  }

  span {
    @include font-inter(400, 1.4rem, 2rem);
    color: $blue-350;
  }
}
