@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;

.confirm-card {
  @include display-flex(column);
}

.confirm-content {
  @include display-flex(column);
  flex: 1;
  gap: 2rem;

  &__options {
    margin-top: 1rem;
    width: 100%;
  }

  .confirm-actions {
    margin-top: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.2rem;
    padding-top: 3.2rem;
  }
}
