@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;

.success-layout {
  @include display-flex(column);
  @include flex-center(column, center, center);
  width: 100%;
  height: 100%;

  &__card {
    width: 100%;
  }
}

.success-header {
  @include display-flex(column);
  align-items: center;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;

  .success-icon-container {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 2.4rem;
    background-color: $green-200;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.8rem;
    background-image: url('/images/svg/paybill/checkmark.svg')
  }

  .success-title {
    @include font-inter(700, 3rem, 3.6rem);
    color: var(--color-fg);
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .success-description {
    @include font-inter(400, 1.6rem, 2.4rem);
    color: $gray-700;
    text-align: center;
    letter-spacing: -0.031rem;
  }
}

.success-footer {
  margin-top: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
  padding-top: 3.2rem;

}