<app-basic-card maxWidth="100%" minHeight="70rem" padding="2.4rem">
  <div class="success-layout">
    <header class="success-header">
      <div class="success-icon-container">
        <span class="tia-icon tia-icon-check"></span>
      </div>
      <h1 class="success-title">Payment Successful!</h1>
      <p class="success-description">Your bill has been paid successfully</p>
    </header>

    <div class="success-layout__card">
      <app-payment-summary
        [items]="items()"
        [headerTitle]="headerTitle()"
        headerSubtitle="Transaction details"
        [iconBgColor]="iconBgColor()"
        [iconBgPath]="iconBgPath()"
      />
    </div>

    <footer class="success-footer">
      <app-button
        variant="secondary"
        [fullWidth]="true"
        (click)="payAnother.emit()"
      >
        Pay Another Bill
      </app-button>

      <app-button [fullWidth]="true" (click)="goDashboard.emit()">
        Go to Dashboard
      </app-button>
    </footer>
  </div>
</app-basic-card>
