@use '../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../shared/styles/palette' as *;

.btn {
  @include flex-center;
  padding: 1rem 2rem;
  gap: 1rem;
  height: 4rem;
  border-radius: 1rem;
  @include font-arimo(400, 1rem, 2rem);

  &__trigger {
    background: #f0f9ff;
    border: 1px solid #0ea5e9;
    color: #0c4a6e;
    width: 13rem;
  }

  &__primary {
    background: #0284c7;
    color: $white;
    width: 9rem;
  }

  &__outline {
    background: #f0f9ff;
    border: 1px solid #0ea5e9;
    color: #0c4a6e;
    width: 8rem;
  }
}

.confirm-content {
  @include display-flex(column);
  width: 45rem;

  &__header {
    margin-bottom: 2rem;
  }

  &__title {
    @include font-arimo(700, 2rem, 3rem);
    color: #0c4a6e;
  }

  &__description {
    @include font-arimo(400, 1rem, 2rem);
    color: #0369a1;
    margin-top: 1rem;
  }

  &__footer {
    @include display-flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
  }
}
