@use '../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../shared/styles/palette' as *;

.confirm-account {
  @include display-flex(column);
  width: 100%;

  &__header {
    margin-bottom: 2.4rem;
  }

  &__footer {
    @include flex-center($justify: flex-end);
    gap: 0.8rem;
    margin-top: 2.4rem;

    app-button {
      min-width: 10rem;
    }
  }
}
