<div class="paybill-main">
  <div class="paybill-main__nav-container">
    @if(!facade.isCategoriesPage() && (!facade.isRootProviderView() ||
    facade.isProviderListVisible())){
    <app-back-navigation (back)="onBackNavigated()" />
    }
  </div>
  @if (facade.showSearch()) {
  <div class="paybill-main__search-container">
    <lib-text-input
      [formControl]="searchControl"
      [config]="translatedSearchConfig()"
    />
  </div>
  }

  <div class="paybill-main__stage-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
