@use '../../../../shared/styles/mixins' as *;
@use '../../../../shared/styles/palette' as *;

.products-container {
  &__section-header {
    @include flex-center(row, space-between);
    gap: 2rem;
    margin-bottom: 2rem;

    &-info {
      @include display-flex(column);
      gap: 0.5rem;
    }
  }
}
