@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/palette' as *;
@use '../styles/forms-shared' as *;
@use '../styles/forms-mixins' as *;

.multi-step {
  @extend %flex-stack;
  @include custom-width(30vw, 2.4rem);

  @media (max-width: 768px) {
    width: 80vw;
  }

  @media (max-width: 480px) {
    width: 65vw;
  }

  &__field {
    @include display-flex(column);
    @include custom-width();
  }

  &__btn-section {
    @include flex-center(row);
    @include custom-width(100%, 0.8rem);

    div {
      width: 100%;
    }
  }

  &__row {
    @extend %pair-fields;
  }

  &__row {
    @extend %pair-fields;
  }
}
