<div class="auth">
  <div class="auth__auth-layout">
    <div class="auth__auth-layout__content">
      <header class="auth__auth-layout__header">
        <div class="auth__auth-layout__header__bar">
          <a class="auth__auth-layout__header__bar__logo">
            <span aria-hidden="true">T</span>
          </a>
          <h1 class="auth__auth-layout__header__bar__title">TIA</h1>
        </div>
        <app-language-switcher></app-language-switcher>
      </header>

      <main class="auth__auth-layout__body">
        <div class="auth__auth-layout__form">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>

    <aside class="auth__auth-layout__pannel">
      <div class="auth__auth-layout__pannel__wrapper">
        @if (sidePanelData()) {
        <app-side-panel
          [title]="sidePanelData()!.title"
          [description]="sidePanelData()!.description"
          [features]="sidePanelData()!.features"
        />
        }
      </div>
    </aside>

    @if (isLoading()) {
    <div class="auth__loader-overlay">
      <app-route-loader variant="pulsing"></app-route-loader>
    </div>
    }
  </div>
</div>
