<section class="phone-verification">
  <app-timer [timeLimit]="2"></app-timer>
  <form class="sign-in" [formGroup]="setPhoneNumberForm" (ngSubmit)="submit()">
    <lib-text-input formControlName="phoneNumber"></lib-text-input>
    <h2>ERROR: {{errorMessage()}}</h2>
    <app-button type="submit">Send Verification Code</app-button>
  </form>
</section>
<app-otp-verification
  [submitMethod]="submitOtp"
  [isLoading]="isLoading"
  [title]="title"
  [subText]="subText"
  [submitBtnName]="submitBtnName"
></app-otp-verification>