<div class="card-details-modal">
  <div>
    <h1 class="card-details-modal__title">
      {{'my-products.card.card-details-modal.card-details-modal-content.cardDetails'
      | translate }}
    </h1>
    <h2 class="card-details-modal__subtitle">
      {{'my-products.card.card-details-modal.card-details-modal-content.cardSubtitle'
      | translate }}
    </h2>
    <h3 class="card-details-modal__info-heading">  {{'my-products.card.card-details-modal.card-details-modal-content.cardInfo'
      | translate }}</h3>
  </div>

  <app-basic-card
    [padding]="'1.6rem'"
    [maxWidth]="'100%'"
    [borderColor]="'#F0F9FF'"
  >
    <div class="card-details-modal__info-flex">
      <div class="card-details-modal__info-item">
        <span class="card-details-modal__label"
          >{{'my-products.card.card-details-modal.card-details-modal-content.cardName'
          | translate }}</span
        >
        <span class="card-details-modal__value">{{ cardName() }}</span>
      </div>

      <div class="card-details-modal__info-item">
        <span class="card-details-modal__label"
          >{{'my-products.card.card-details-modal.card-details-modal-content.cardType'
          | translate }}</span
        >
        <span class="card-details-modal__value">{{ cardType() }}</span>
      </div>

      <div class="card-details-modal__info-item">
        <span class="card-details-modal__label"
          >{{'my-products.card.card-details-modal.card-details-modal-content.cardCategory'
          | translate }}</span
        >
        <app-badges
          [variant]="isActiveStatus() ? 'default' : 'default'"
          [text]="cardCategory()"
          size="medium"
          shape="rounded"
        />
      </div>

      <div class="card-details-modal__info-item">
        <span class="card-details-modal__label"
          >{{'my-products.card.card-details-modal.card-details-modal-content.cardStatus'
          | translate }}</span
        >
        <div class="card-details-modal__value">
          <app-badges
            [variant]="isActiveStatus() ? 'default' : 'default'"
            [text]="status()"
            size="medium"
            shape="rounded"
          />
        </div>
      </div>

      @if (shouldShowCreditLimit()) {
      <div class="card-details-modal__info-item">
        <span class="card-details-modal__label"
          >{{'my-products.card.card-details-modal.card-details-modal-content.creditLimit'
          | translate }}</span
        >
        <span
          class="card-details-modal__value card-details-modal__value__credit"
          >{{ formattedCreditLimit() }}</span
        >
      </div>
      }

      <div class="card-details-modal__info-item">
        <span class="card-details-modal__label"
          >{{'my-products.card.card-details-modal.card-details-modal-content.avaliableAmount'
          | translate }}</span
        >
        <span class="card-details-modal__value">{{ formattedBalance() }}</span>
      </div>
    </div>
  </app-basic-card>

  <app-basic-card
    [padding]="'1.6rem'"
    [borderColor]="'#BEDBFF'"
    [maxWidth]="'100%'"
    [backgroundColor]="'#F0F9FF'"
    [minHeight]="'15rem'"
  >
    <div class="card-details-modal__sensitive-header">
      <div class="card-details-modal__sensitive-icon">
        <img [src]="'/images/svg/cards/eye.svg'" alt="View" />
      </div>
      <div class="card-details-modal__sensitive-text">
        <h4 class="card-details-modal__sensitive-title">
          {{'my-products.card.card-details-modal.card-details-modal-content.sensitiveDetails'
          | translate }}
        </h4>
        <p class="card-details-modal__sensitive-subtitle">
          {{'my-products.card.card-details-modal.card-details-modal-content.sensitiveSubtitle'
          | translate }}
        </p>
        <app-button
          variant="default"
          [fullWidth]="false"
          (click)="handleRequestOtp()"
        >
          {{'my-products.card.card-details-modal.card-details-modal-content.requestOtp'
          | translate }}
        </app-button>
      </div>
    </div>
  </app-basic-card>

  <div class="card-details-modal__footer">
    <app-button variant="outline" [fullWidth]="true" (click)="handleClose()">
      {{'my-products.card.card-details-modal.card-details-modal-content.closeBtn'
      | translate }}
    </app-button>
  </div>
</div>
