@if (isLoading$ | async) {
  <div class="widget-loading">
    <app-route-loader
      variant="full-page"
      text="Loading Transactions...">
    </app-route-loader>
  </div>
}

@else if (error$ | async) {
  <div class="widget-error">
    <app-error-states
      variant="failed"
      header="Failed to load"
      message="Could not load transactions"
      buttonMessage="Retry"
      (buttonClick)="retryLoad()"
      [border]="false">
    </app-error-states>
  </div>
}

@else if (isEmpty$ | async) {
  <div class="widget-error">
    <app-error-states
      variant="not-found"
      header="No transactions"
      message="There are no transactions available"
      [showButton]="false"
      [border]="false">
    </app-error-states>
  </div>
}

@for (transaction of transactions$ | async; track transaction.id) {
  <div class="transaction-card">
    <div class="transaction-card__description">
      <div class="transaction-card__description-text">{{ transaction.description }}</div>
      <div class="transaction-card__meta">{{ transaction.createdAt | date:'shortDate' }} • {{ transaction.category }}</div>
    </div>

    <div class="transaction-card__amount transaction-card__amount--{{ transaction.transactionType }}">
      {{ transaction.transactionType === 'debit' ? '-' : '+' }} {{ transaction.amount }}
    </div>
  </div>
}
