@use '../../../../../shared/styles/mixins' as *;
@use '../../../../../shared/styles/palette' as *;

.widget-error {
  @include flex-center();
  height: 100%;
  min-height: 30rem;
}

.transaction {
  padding: 0 1rem 1rem 1rem;

  &__title {
    @include font-inter(600, 2rem, 2.8rem);
    color: $blue-ocean-foreground;
  }

  &-card {
    padding: 1rem 1rem 1rem 0;
    @include flex-center($justify: space-between);
    &__description {
      word-break: break-word;
      @include display-flex(column);
      gap: 0.4rem;

      &-text {
        white-space: wrap;
        @include font-inter(500, 1.6rem, 2.4rem);
        color: $blue-ocean-foreground;
      }
    }

    &__meta {
      @include font-inter(400, 1.2rem, 1.6rem);
      color: $gray-600;
    }

    &__amount {
      white-space: nowrap;
      @include font-inter(600, 1.6rem, 2.4rem);

      &--debit {
        color: $blue-1000;
      }

      &--credit {
        color: $green-600;
      }
    }
  }
}

.load-trigger {
  height: 0.1rem;
  width: 100%;
}

.loading-more {
  @include flex-center();
  padding: 2rem 0;
}

@media (max-width: 768px){
  .transaction {
    &_card{
      &__description {


        &-text {
          white-space: wrap;
        }
      }

      &__amount {
        white-space: normal;
        @include font-inter(600, 1.4rem, 2rem);
        margin-top: 0.25rem;
      }
    }
  }
}
