@use '../../../../../shared/styles/palette' as *;
@use '../../../../../shared/styles/mixins' as *;

.sign-in {
  @include display-flex(column);
  gap: 4rem;
  max-height: 100vh;

  &__form {
    @include display-flex(column);
    gap: 2.6rem;
    margin-bottom: 2.6rem;
    height: 100%;
  }

  &__switch,
  &__link {
    color: $gray-700;
    font-size: 1.4rem;
  }

  &__link {
    color: $blue-800;
    cursor: pointer;
  }

  &__switch,
  &__loader {
    @include flex-center();
  }

  &__loader {
    height: 65%;
  }
}
