@use '../../../../../shared/styles/mixins' as *;

.loading-state {
    margin-top: 25%;
}

.delete-account {
    &__header {
        margin-bottom: 1.6rem;
    }

    &__footer {
        @include flex-center($justify: flex-end);
        gap: 1.2rem;
    }
}
