<app-ui-modal [isOpen]="isOpen()" (closed)="handleClose()">
  <div class="modal__header">
    <h2 class="modal__title">Create New Account</h2>
    <p class="modal__subtitle">
      Add a new bank account to manage your finances
    </p>
  </div>

  <form
    [formGroup]="accountForm()"
    (ngSubmit)="handleSubmit()"
    class="modal__form"
  >
    <div class="form-group">
      <lib-text-input
        [config]="createConfig.friendlyName"
        formControlName="friendlyName"
      ></lib-text-input>
    </div>

    <div class="form-group">
      <lib-select
        [options]="accountTypeOptions()"
        [config]="createConfig.type"
        formControlName="type"
      ></lib-select>
    </div>

    <div class="form-group">
      <lib-select
        [options]="currencyOptions()"
        [config]="createConfig.currency"
        formControlName="currency"
      ></lib-select>
    </div>

    <div class="modal__actions">
      <app-button variant="outline" type="button" (click)="handleClose()">
        Cancel
      </app-button>
      <app-button
        variant="default"
        type="submit"
        icon="plus-icon.svg"
        [isDisabled]="accountForm().invalid"
      >
        Create Account
      </app-button>
    </div>
  </form>
</app-ui-modal>
