@use "../../../../../../../shared/styles/palette" as *;
@use "../../../../../../../shared/styles/mixins" as *;

.otp-step {
    @include display-flex(column);
    height: 100%;
    gap: 1.6rem;

    &__header {
        @include flex-center(row, space-between, flex-start);

        &-text {
            .icon {
                @include flex-center($justify: flex-start);
                gap: 0.8rem;

                img {
                    width: 2rem;
                    height: 2rem;
                    flex-shrink: 0;
                }

                h3 {
                    margin: 0 0 0.4rem;
                    color: var(--color-fg);
                    @include font-inter(600, 2rem);
                }
            }
        }
    }

    &__subtitle {
        margin: 0;
        color: $blue-600;
        @include font-inter(400, 1.4rem);
    }

    &__body {
        flex: 1;
        @include display-flex(column);
        gap: 2.4rem;
    }

    &__section-title {
        color: $blue-1000;
        @include font-inter(600, 1.6rem);
        margin: 0 0 1.2rem 0;
    }

    &__form {
        width: 100%;
        max-width: 40rem;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 1.6rem;
        padding-top: 2.4rem;
        margin-top: auto;
    }
}
