@use "../../../../../../shared/styles/mixins" as *;
@use "../../../../../../shared/styles/palette" as *;

:host {
    flex: 1;
    display: flex;
}

.empty-card-container {
    width: 100%;
    flex: 1;
    @include flex-center();

    &__content {
        max-width: 9.5rem;
        width: 100%;
        @include flex-center(column);
        gap: 0.8rem;
        animation: slideIn 0.3s ease-out;
    }

    &__title {
        @include font-inter(400, 1.4rem, 2rem);
        color: $gray-500;
        text-align: center;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
