@use '../../../../../../shared/styles/mixins' as *;
@use '../../../../../../shared/styles/palette' as *;

.empty-card {
    max-width: 9.5rem;
    width: 100%;
    @include flex-center(column);
    gap: 0.8rem;
    margin: auto;
    margin-top: 25%;
    animation: slideIn 0.3s ease-out;

    &__title {
        @include font-inter(400, 1.4rem, 2rem);
        color: $gray-500;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}