<div class="pagination">
  <h4 class="pagination__title">{{ 'storybook.navigation.sections.pagination.default' | translate }}:</h4>
  <app-pagination
    [currentPage]="defaultCurrentPage()"
    [totalPages]="defaultTotalPages()"
    (pageChange)="onDefaultPageChange($event)"
    [config]="{
          previousLabel: translate.instant('storybook.navigation.sections.pagination.previous'),
          nextLabel: translate.instant('storybook.navigation.sections.pagination.next')
    }"
  ></app-pagination>
</div>

<!-- ეს კომენტარი არის იმისთვის, რომ დაინახოთ როგორ ემუშავება პაგინაციის კომპონენტი
დატას html-ში -->

<!-- <div>
  @for (item of ellipsisItems(); track item.id) {
  <div>{{ item.name }}</div>
  }
</div> -->

<div class="pagination">
  <h4 class="pagination__title">{{ 'storybook.navigation.sections.pagination.withEllipsis' | translate }}:</h4>
  <app-pagination
    [currentPage]="ellipsisCurrentPage()"
    [totalPages]="ellipsisTotalPages()"
    [config]="{
          showEllipsis: true,
          maxVisiblePages: 7,
          previousLabel: translate.instant('storybook.navigation.sections.pagination.previous'),
          nextLabel: translate.instant('storybook.navigation.sections.pagination.next')
        }"
    (pageChange)="onEllipsisPageChange($event)"
  ></app-pagination>
</div>
