<app-basic-card [title]="'settings.appearance.title' | translate" [maxWidth]="'100%'" padding="2rem" height="fit-content">
    <div class="container">
        <h2 class="container__subtitle">{{'settings.appearance.subtitle' | translate}}</h2>
        <h4 class="container__title">{{'settings.appearance.cardsTitle' | translate}}</h4>
        <div class="container__cards" [class.container__cards--mobile]="isMobile()">
            @if(isLoading() && !hasLoaded()) {
            <app-skeleton height="10rem"></app-skeleton>
            <app-skeleton height="10rem"></app-skeleton>
            <app-skeleton height="10rem"></app-skeleton>
            } @else {
            @for(theme of availableThemes(); track theme.value) {
            <div class="container__card" [class.active]="isCurrentTheme(theme.value)" (click)="onClick(theme.value)">
                <h5 class="container__card-title">{{theme.displayName}}</h5>
                <p class="container__card-subtitle">{{theme.subtitle}}</p>
                <div class="color-preview" [style.background-color]="getThemeColor(theme.value, '--color-primary')">
                </div>
            </div>
            }
            }
        </div>
        <div class="container__submit">
            <app-button [isLoading]="isFetching()" (click)="onSubmit()">{{'settings.appearance.saveChanges' | translate}}</app-button>
        </div>
    </div>
</app-basic-card>
<app-ui-modal [isOpen]="isModalOpen()" (closed)="onLeave()">
    <div class="confirm-dialog">
        <header class="confirm-dialog__header">
            <h3 class="confirm-dialog__title">{{'common.validation.confirmAction' | translate}}</h3>
            <p class="confirm-dialog__subtitle">{{'common.validation.unsavedChanges' | translate}}</p>
        </header>

        <footer class="confirm-dialog__footer">
            <app-button variant="outline" (click)="onStay()"> {{'common.buttons.stay' | translate}} </app-button>
            <app-button variant="destructive" (click)="onLeave()"> {{'common.buttons.leave' | translate}} </app-button>
        </footer>
    </div>
</app-ui-modal>