@use "../../../../shared/styles/mixins" as *;
@use "../../../../shared/styles/palette" as *;
@use "../../../../shared/styles/variables" as *;

.finances-filters {
  width: 100%;
  margin-bottom: 2.4rem;

  &__container {
    @include display-flex(row, nowrap);
    @include flex-center(row, flex-start, center);
    @include font-inter(500, 1.4rem);
    gap: 2rem;
    padding: 1.2rem 1.6rem;
    background-color: $white;
    border: 0.1rem solid $blue-300;
    border-radius: 1.4rem;
    min-height: 6.4rem;
    margin-top: 3.2rem;
  }

  &__actions {
    @include display-flex(row);
    gap: 1.2rem;
  }

  &__inputs {
    @include flex-center(row, flex-start, center);
    flex-grow: 1;
    gap: 1.6rem;
  }

  &__input-group {
    @include display-flex(row);
    align-items: center;
  }

  &__input-wrapper {
    @include flex-center(row, flex-start, center);
    gap: 1.2rem;

    & > * {
      @include flex-center(row, flex-start, center);
      gap: 1.2rem;
      width: 100%;
    }
  }
}



.finances-summary {
  width: 100%;
  margin-top: 3.2rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2.4rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }
}
