<app-ui-modal [isOpen]="isOpen()" (closed)="handleClose()">
  <app-library-title
    [title]="'my-products.accounts.modal.title' | translate"
    [subtitle]="'my-products.accounts.modal.subtitle' | translate"
  ></app-library-title>

  <form
    [formGroup]="accountForm()"
    (ngSubmit)="handleSubmit()"
    class="modal__form"
  >
    <div class="form-group">
      <lib-text-input
        [config]="createConfig().friendlyName"
        formControlName="friendlyName"
      ></lib-text-input>
    </div>

    <div class="form-group">
      <lib-select
        [options]="accountTypeOptions()"
        [config]="createConfig().type"
        formControlName="type"
      ></lib-select>
    </div>

    <div class="form-group">
      <lib-select
        [options]="currencyOptions()"
        [config]="createConfig().currency"
        formControlName="currency"
      ></lib-select>
    </div>

    <div class="modal__actions">
      <app-button variant="outline" type="button" (click)="handleClose()">
        {{ 'my-products.accounts.modal.cancel' | translate }}
      </app-button>
      <app-button
        variant="default"
        type="submit"
        icon="plus-icon.svg"
        [isDisabled]="accountForm().invalid || isCreating()"
        [isLoading]="isCreating()"
      >
        {{ 'my-products.accounts.modal.create' | translate }}
      </app-button>
    </div>
  </form>
</app-ui-modal>
