<div class="global-bank-wrapper">
    @let alert = alertConfig();
    @if (alert) {
    <div class="loans-alert-positioner">
        <app-alert-types-with-icons [alertType]="alert.type" [alertMessage]="alert.message">
        </app-alert-types-with-icons>
    </div>
    }

    <main class="main">
        <app-loan-header (requestClick)="isModalOpen.set(true)"></app-loan-header>

        <app-loan-navigation />

        @if (isLoading()) {
        <div class="loans-skeleton-grid">
            @for (i of [1,2,3]; track i) {
            <div class="loan-card-skeleton">
                <div class="skeleton-header">
                    <app-skeleton variant="circle" height="4rem" width="4rem"></app-skeleton>
                    <div class="skeleton-titles">
                        <app-skeleton variant="text" height="1.6rem" width="9rem"></app-skeleton>
                        <app-skeleton variant="text" height="1.2rem" width="5rem"></app-skeleton>
                    </div>
                </div>
                <div class="skeleton-body">
                    <app-skeleton height="6rem"></app-skeleton>
                </div>
            </div>
            }
        </div>
        }


        <div [style.display]="isLoading() ? 'none' : 'block'">
            <div class="loans-filter-row">
                <lib-text-input type="search" (valueChange)="onSearch($event)"
                    [config]="loanDashboardState.searchCfg()"></lib-text-input>

                @if (activeAccountName()) {
                <div class="loans-filter-badge">
                    <app-badges variant="default" [text]="activeAccountName() || ''" size="medium" shape="rounded"
                        [dismissible]="true" (dismissed)="onDismissAccountFilter()">
                    </app-badges>
                </div>
                }
            </div>

            <router-outlet></router-outlet>
        </div>

        @if (isModalOpen()) {
        <app-request-modal [isOpen]="isModalOpen()" (close)="isModalOpen.set(false)" />
        }

        @if (store.isDetailsOpen()) {
        <app-loan-details [isOpen]="store.isDetailsOpen()" [loan]="store.selectedLoanDetails()"
            [isLoading]="store.detailsLoading()" (calculatePrepayment)="store.openPrepayment($event)"
            (close)="store.closeModals()" (navigate)="store.navigateDetails($event)">
        </app-loan-details>
        }

        <app-ui-modal [hasScroll]="true" [isOpen]="store.isPrepaymentOpen()" (closed)="store.closeModals()">
            @let prepayLoan = store.activePrepaymentLoan();
            @if (prepayLoan) {
            <app-prepayment-container [loan]="prepayLoan" (close)="store.closeModals()" />
            }
        </app-ui-modal>
    </main>
</div>