@use "../../../../shared/styles/themes" as *;
@use "../../../../shared/styles/palette" as *;
@use "../../../../shared/styles/mixins" as *;

.main {
    @include display-flex(column);
    gap: 3.2rem;
    padding: 3.2rem;

    @media (max-width: 500px) {
        padding: 0;
    }
    .loans-skeleton-grid {
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(13.2rem, 1fr));
        gap: 3.2rem;

        .loan-card-skeleton {
            background-color: $white;
            border: 1px solid $gray-200;
            border-radius: 1.2rem;
            padding: 2.4rem;
            @include display-flex(column);
            gap: 2.4rem;

            .skeleton-header {
                @include flex-center($justify: flex-start);
                gap: 1.6rem;
            }

            .skeleton-titles {
                @include display-flex(column);
                gap: 0.8rem;
            }

            .skeleton-body {
                width: 100%;
            }

            @media (max-width: 400px) {
                .skeleton-header {
                    flex-direction: column;
                    .skeleton-titles {
                        align-items: center;
                    }
                }

                .skeleton-body {
                    width: 90%;
                }
            }
        }
    }
}

.loans-alert-positioner {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
    animation: slideDown 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
    to {
        opacity: 1;
        transform: translate(-1.2rem, 0);
    }
}
