<div class="loans">
    @for (loan of approvedLoans$ | async; track loan.id) {
    <lib-loan-card [loan]="loan" [variant]="'colored'" (cardClick)="onCardClick($event)"
        (rename)="onRenameLoan($event)">
    </lib-loan-card>
    } @empty {
    <div class="empty-state">
        <p>No approved loans found.</p>
    </div>
    }
</div>

<app-loan-details [isOpen]="isDetailsOpen()" [loan]="selectedLoan()" (calculatePrepayment)="onOpenPrepayment($event)"
    (close)="closeModals()">
</app-loan-details>

<app-ui-modal [isOpen]="isPrepaymentOpen()" (closed)="closeModals()">
    @if (selectedLoan(); as loan) {
    <div class="modal-content-wrapper">
        <app-prepayment-option-step [loan]="loan" (cancel)="closeModals()" (calculate)="onCalculatePrepayment($event)">
        </app-prepayment-option-step>
    </div>
    }
</app-ui-modal>