<app-basic-card [title]="'settings.language.title' | translate" maxWidth="100%" padding="2rem" height="fit-content">
    <h2 class="container__subtitle">{{'settings.language.subtitle' | translate}}</h2>
    <div class="container">
        <h4 class="container__title">{{ 'settings.language.available' | translate }}</h4>

        <app-language-selection 
            [languages]="languages()"
            [isLoading]="isLoading()"
            [hasError]="hasError()"
            [hasLoaded]="hasLoaded()"
            [isFetching]="isRefreshing()"
        />
    </div>
</app-basic-card>