<app-settings-body [title]="'settings.language.title' | translate"
    [subTitle]="'settings.language.subtitle' | translate">
    <div class="container">
        <h4 class="container__title">{{ 'settings.language.available' | translate }}</h4>

        <app-language-selection 
            [languages]="languages()"
            [isLoading]="isLoading()"
            [hasError]="hasError()"
            [hasLoaded]="hasLoaded()"
            [isFetching]="isRefreshing()"
        />
    </div>
</app-settings-body>