@use "../../../../../../shared/styles/themes" as *;
@use "../../../../../../shared/styles/palette" as *;
@use "../../../../../../shared/styles/mixins" as *;

.header {
    @include flex-center(row, space-between);

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.6rem;
    }

    &__title {
        @include display-flex(column);
        gap: 0.4rem;

        h2 {
            @include font-inter(700, 3rem);
            color: var(--color-fg);
        }

        p {
            @include font-inter(400, 1.6rem);
            color: $gray-700;
        }
    }
}
