<div class="accounts-page">
  <app-accounts-list
    [accountsGrouped]="accountsGrouped$ | async"
    [isLoading]="(isLoading$ | async) || false"
    [isFetching]="(isFetching$ | async) || false"
    [error]="error$ | async"
    [errorType]="errorTypeSignal()"
    [accountSections]="accountSectionsData()"
    [isRenamingAccount]="(isRenamingAccount$ | async) || false"
    [renameError]="renameError$ | async"
    (openModal)="handleOpenModal()"
    (transfer)="handleTransfer($event)"
    (retry)="handleRetry()"
    (renameAccount)="handleRenameAccount($event)"
    (renameSuccess)="handleRenameSuccess()"
  />

  <app-create-account
    [isOpen]="(isCreateModalOpen$ | async) || false"
    [accountForm]="accountForm()"
    [accountTypes]="accountTypeValues"
    [currencies]="(currencyValues | async) ?? []"
    (closeModal)="handleCloseModal()"
    (submitForm)="handleCreateAccount(accountForm().value)"
  />

  @if (showSuccessAlert()) {
  <div class="accounts-page__alert accounts-page__alert--bottom-right">
    <app-dismissible-alerts
      [alertTitle]="'my-products.accounts.success' | translate"
      [alertType]="'success'"
      [alertMessage]="'my-products.accounts.accountNameUpdatedSuccessfully' | translate"
      (dismissed)="handleAlertDismissed()"
    />
  </div>
  } @if (showCreateAlert()) {
  <div class="accounts-page__alert accounts-page__alert--bottom-right">
    <app-dismissible-alerts
      [alertTitle]="'my-products.accounts.information' | translate"
      [alertType]="'information'"
      [alertMessage]="'my-products.accounts.accountCreationRequestSent' | translate"
      (dismissed)="handleCreateAlertDismissed()"
    />
  </div>
  } @if (showCreateErrorAlert()) {
  <div class="accounts-page__alert accounts-page__alert--bottom-right">
    <app-dismissible-alerts
      [alertTitle]="'my-products.accounts.error' | translate"
      [alertType]="'warning'"
      [alertMessage]="(createError$ | async) || ('my-products.accounts.failedToCreateAccount' | translate)"
      (dismissed)="handleCreateErrorAlertDismissed()"
    />
  </div>
  }
</div>
