<div class="accounts-page">
  <app-accounts-list
    [accountsGrouped]="accountsGrouped$ | async"
    [isLoading]="(isLoading$ | async) || false"
    [error]="error$ | async"
    [accountSections]="accountSectionsData"
    [isRenamingAccount]="(isRenamingAccount$ | async) || false"
    [renameError]="renameError$ | async"
    (openModal)="handleOpenModal()"
    (transfer)="handleTransfer($event)"
    (retry)="handleRetry()"
    (renameAccount)="handleRenameAccount($event)"
  />

  <app-create-account
    [isOpen]="(isCreateModalOpen$ | async) || false"
    [accountForm]="accountForm()"
    [accountTypes]="accountTypeValues"
    [currencies]="(currencyValues | async) ?? []"
    (closeModal)="handleCloseModal()"
    (submitForm)="handleCreateAccount(accountForm().value)"
  />
</div>
