<div class="accounts-page">
  <div class="accounts-page__header">
    <div class="accounts-page__header-title">
      <app-library-title
        [title]="'my-products.accounts.title' | translate"
        [subtitle]="'my-products.accounts.subtitle' | translate"
      ></app-library-title>
    </div>
    <app-button
      variant="default"
      icon="plus-icon.svg"
      (click)="handleOpenModal()"
    >
      {{ 'my-products.accounts.newAccount' | translate }}
    </app-button>
  </div>

  <app-accounts-list
    [accountsGrouped]="accountsGrouped()"
    [isLoading]="isLoading() || false"
    [isFetching]="isFetching() || false"
    [error]="error()"
    [accountSections]="accountSectionsData()"
    [isRenamingAccount]="isRenamingAccount() || false"
    [renameError]="renameError()"
    (openModal)="handleOpenModal()"
    (transfer)="handleTransfer($event)"
    (retry)="handleRetry()"
    (renameAccount)="handleRenameAccount($event)"
    (renameSuccess)="handleRenameSuccess()"
  />

  <app-create-account
    [isOpen]="isCreateModalOpen() || false"
    [accountForm]="accountForm()"
    [accountTypes]="accountTypeValues"
    [currencies]="(currencyValues | async) ?? []"
    [isCreating]="isCreatingAccount()"
    (closeModal)="handleCloseModal()"
    (submitForm)="handleCreateAccount(accountForm().value)"
  />
</div>
