@use '../../../../../../shared/styles/palette' as *;
@use '../../../../../../shared/styles/mixins' as *;

.settings {

    &__title {
        color: var(--color-fg);
        @include font-inter(700, 3rem, 3.6rem);
    }

    &__desc {
        color: $gray-700;
        @include font-inter(400, 1.6rem, 2.4rem);
        margin-top: 0.4rem;
    }
    
    &__header-nav {
        margin-top: 3.2rem;
        @include flex-center(column, flex-start, stretch);
        gap: 0.8rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
        background-color: var(--color-muted);
        padding: 0.3rem;
        border-radius: 1.4rem;
    }
}
  
    