.settings-header-wrapper {
    display: flex;
   
 h1{
    color: red;
 }
    .settings-header-nav {
        display: flex;
        gap: 4rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}
  
    