@use '../../../../../../shared/styles/mixins' as *;
@use '../../../../../../shared/styles/palette' as *;

.cards-page {
  padding: 24px;
}

.cards-section {
  margin-bottom: 40px;

  &__title {
    @include font-inter(600, 24px, 32px);
    color: $gray-800;
    margin-bottom: 16px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
  }
}