<div class="colorpalettes-container">
  <header class="colorpalettes-header">
    <app-library-title [title]="title" [subtitle]="subtitle" />
  </header>
  <div class="colorpalettes-content">
    @for (palette of colorPalettesData; track palette.id) {
    <app-showcase-card
      [title]="palette.title"
      [subtitle]="palette.subtitle"
      [attr.class]="palette.scssClass"
    >
      <app-palettes [theme]="palette.theme"></app-palettes>
    </app-showcase-card>
    }
  </div>
  <div class="colorpalettes-content">
    <app-showcase-card
      [title]="'storybook.palette.application.title' | translate"
    >
      @for (palette of colorPalettesData; track palette.id) {
      <div class="color-application">
        <app-color-application
          [theme]="palette.theme"
          [themeLabel]="palette.themeLabel"
        ></app-color-application>
      </div>
      }
    </app-showcase-card>
  </div>
  <div class="colorpalettes-content">
    <app-showcase-card [title]="'storybook.palette.notes.title' | translate">
      <app-notes></app-notes>
    </app-showcase-card>
  </div>
</div>
