<form class="registration" [formGroup]="registrationForm" (ngSubmit)="submit()">
  @if (isRegistration()) {
  <div class="registration__row">
    <div class="registration__field">
      <lib-text-input
        type="text"
        formControlName="firstName"
        [config]="inputConfig().firstName"
      ></lib-text-input>
    </div>

    <div class="registration__field">
      <lib-text-input
        type="text"
        formControlName="lastName"
        [config]="inputConfig().lastName"
      ></lib-text-input>
    </div>
  </div>

  

  <div class="registration__field">
    <lib-text-input
      type="date"
      formControlName="birthday"
      [config]="inputConfig().birthDate"
    ></lib-text-input>
  </div>

  <div class="registration__field">
    <lib-text-input
      type="text"
      formControlName="username"
      [config]="inputConfig().username"
    ></lib-text-input>
  </div>

  @if(!usernameError() && usernameError() !== null) {
  <div class="error">User not available</div>
  }

  <div class="registration__field">
    <lib-text-input
      type="email"
      formControlName="email"
      [config]="inputConfig().email"
    ></lib-text-input>
  </div>

  @if(!emailError() && emailError() !== null) {
  <div class="error">Email not available</div>
  } }

  <div class="registration__field">
    <lib-text-input
      type="password"
      formControlName="password"
      [config]="passwordConfig()"
    ></lib-text-input>
  </div>

  @if (showPasswordRules()) {
  <div class="registration__field registration__password-strength">
    <div class="registration__password-strength__title">
      <p>{{'auth.sign-up.passwordStrength' | translate}}</p>
      <span>{{ passwordStrength() | translate}}</span>
    </div>

    @if (passwordRules()) {
    <div class="registration__password-strength__progress" aria-hidden="true">
      <div
        class="registration__password-strength__progress__bar"
        [style.width.%]="strengthPercent()"
      ></div>
    </div>
    }

    <ul class="registration__password-strength__list">
      @if (passwordRules()) {
      <li
        [class.password-failed]="!minLength()"
        [class.password-passed]="minLength()"
      >
        x {{'auth.sign-up.min8' | translate}}
      </li>
      <li
        [class.password-failed]="!uppercaseLowercase()"
        [class.password-passed]="uppercaseLowercase()"
      >
        x {{'auth.sign-up.letters' | translate}}
      </li>
      <li
        [class.password-failed]="!numberRule()"
        [class.password-passed]="numberRule()"
      >
        x {{'auth.sign-up.numbers' | translate}}
      </li>
      <li
        [class.password-failed]="!specialRule()"
        [class.password-passed]="specialRule()"
      >
        x {{'auth.sign-up.specialChar' | translate}}
      </li>
      }
    </ul>
  </div>
  }

  <div class="registration__field">
    <lib-text-input
      type="password"
      formControlName="confirmPassword"
      [config]="inputConfig().confirmPassword"
    ></lib-text-input>
  </div>

  <div class="registration__field">
    <app-button type="submit" [fullWidth]="true"
      >{{ buttonText() | translate}}</app-button
    >
  </div>
</form>
