<div class="birthday-content">
  <div class="birthday-content__header">
    <div class="birthday-content__icon">
      <img [src]="headerIcon" alt="birthday-header">
    </div>
  </div>

  <div class="birthday-content__body">
    <h2 class="birthday-content__title">
      {{ 'dashboard.birthday.modal.title' | translate: { name: userName() || 'Member' } }}
    </h2>
    
    <p class="birthday-content__message">
      {{ 'dashboard.birthday.modal.message' | translate }}
    </p>

    <div class="birthday-content__emoji-row">
      @for (emoji of middleEmojis; track emoji.name) {
        <span class="emoji-svg">
          <img [src]="emoji.svgPath" [alt]="emoji.name">
        </span>
      }
    </div>

    <p class="birthday-content__note">
      {{ 'dashboard.birthday.modal.note' | translate }}
    </p>
  </div>

  <div class="birthday-content__actions">
    <app-button 
      variant="celebrate" 
      (click)="onDismiss()"
      icon="birthday-buttonicon.svg"
      >
      {{ 'dashboard.birthday.modal.thanks' | translate }}
    </app-button>
  </div>
</div>