@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;

%flex-stack {
  @include flex-center(column, center, flex-start);
  width: 100%;
  font-size: 1.4rem;
  color: var(--color-fg);
  gap: 1.6rem;
}

%pair-fields {
  @include display-flex();
  width: 100%;
  gap: 1.6rem;

  & > .registration__field {
    flex: 1 1 0;
  }
}
