@use '../../../../shared/styles/mixins' as *;
@use '../../../../shared/styles/palette' as *;

.transfers_wrapper {
  @include display-flex(column);
  gap: 3.2rem;
  padding: 0 0 3.2rem 0;
}

.transfers__loader {
  @include display-flex(column);
  @include flex-center();
  width: 100%;
  min-height: 50vh;
}
