<app-basic-card
  maxWidth="100%"
  padding="0rem 0 2.4rem 2.4rem"
  minHeight="65rem"
  justifyContent="space-between"
  class="basic-card"
>
  <header class="category-header">
    <div class="category-header__icon-box">
      @if (isLoading()) {
      <app-skeleton
        variant="rectangle"
        width="100%"
        height="100%"
        borderRadius="1.6rem"
      />
      } @else {
      <div
        class="category-header__icon-background"
        [style.background-color]="iconBgColor()"
      >
        <img
          [src]="iconBgPath()"
          class="category-header__img"
          alt="Service Icon"
        />
      </div>
      }
    </div>

    <div class="category-header__text">
      @if (isLoading()) {
      <div class="skeleton-text-group">
        <app-skeleton variant="text" width="16rem" height="2.4rem" />
        <app-skeleton variant="text" width="12rem" height="1.6rem" />
      </div>
      } @else {
      <h2 class="category-header__title">
        {{ 'paybill.main.otp.title' | translate }}
      </h2>
      <p class="category-header__subtitle">
        {{ 'paybill.main.otp.subtitle' | translate }}
      </p>
      }
    </div>
  </header>

  <div class="confirm-container">
    <div class="confirm-container__alert">
      <app-alert-types-with-icons
        alertType="information"
        [alertMessage]="'paybill.main.otp.alert_message' | translate"
        customMaxwidth="100%"
      />
    </div>

    <div class="confirm-container__summary">
      <app-payment-summary
        [items]="summaryItems()"
        [headerTitle]="'paybill.main.otp.summary_title' | translate"
        type="otp"
      />
    </div>

    <div class="otp-verification">
      <app-otp-verification
        type="otp"
        timerType="otp"
        [inputOtpConfig]="otpConfig"
        [errorMessage]="errorMessage()"
        [isBtnRowDirection]="true"
        (isVerifyCalled)="onVerify($event)"
        (isResendCalled)="onResend()"
        (onBackOut)="onCancel()"
        redirectUrl="/bank/paybill/pay"
        redirectText="Pay Bills Page"
        [isButtonLoading]="true"
      />
    </div>
  </div>
</app-basic-card>
