@use '../../../../../../../shared/styles/mixins' as *;

:host {
  display: block;
  width: 100%;
}

.profile-photo {
  width: 100%;
  max-width: 100%;

  app-basic-card {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  &__upload-section {
    @include display-flex(column);
    gap: 1.6rem;
  }

  &__section-title {
    @include font-inter(600, 1.6rem, 1.6rem);
    color: var(--color-fg);
    margin: 0;
  }

  &__upload-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
  }

  &__file-input {
    display: none;
  }

  &__footer {
    @include display-flex(row);
    @include flex-center(row, flex-end, center);
    gap: 1.2rem;
    margin-top: 2.4rem;
  }
}