@use '../../../../../../../../../shared/styles/mixins' as *;


.card-details-modal {
  max-height: 90vh;
  overflow: auto;
  @include custom-scrollbar();

  &__global-alert {
    position: fixed;
    top: 7rem;
    right: 1rem;
    z-index: 10000;
  }
}
