

@if (isOpen()) {
<app-ui-modal [isOpen]="isOpen()" (closed)="handleClose()">
  @if (modalData$ | async; as data) {
  <app-card-details-modal-content
    [cardName]="data.details.cardName"
    [cardType]="data.details.network"
    [cardCategory]="data.details.type"
    [currency]="data.currency"
    [status]="data.details.status"
    [isActiveStatus]="data.isActiveStatus"
    [formattedBalance]="data.formattedBalance"
    [shouldShowCreditLimit]="data.shouldShowCreditLimit"
    [formattedCreditLimit]="data.formattedCreditLimit"
    [isUpdating]="(isUpdating$ | async) ?? false"
    (requestOtpClicked)="handleRequestOtp()"
    (closeClicked)="handleClose()"
    (cardNameUpdated)="handleCardNameUpdate(data.cardId, $event)"
  />
  }
</app-ui-modal>
}