@if (isLoading()) {
<section class="provider-item provider-item--skeleton">
  <div class="provider-item__content">
    <app-skeleton variant="circle" width="0.8rem" height="0.8rem" />
    <app-skeleton variant="text" width="14rem" height="1.6rem" />
  </div>
  <app-skeleton
    variant="rectangle"
    width="2.4rem"
    height="2.4rem"
    borderRadius="0.4rem"
  />
</section>
} @else {
<button class="provider-item" (click)="selected.emit()">
  <div class="provider-item__content">
    <div
      class="provider-item__indicator"
      [style.background-color]="indicatorColor()"
    ></div>

    <h3 class="provider-item__label">{{ name() }}</h3>
  </div>

  <div class="provider-item__chevron"></div>
</button>
}
