@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;

.drag-frame {
  @include flex-center(column, center, flex-start);
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.6rem;
  gap: 3.2rem;

  &__container {
    @include display-flex(column);
    width: 100%;
    gap: 3.2rem;
  }

  &__header {
    margin: 2rem 0;
  }

  &__content {
    @include display-flex(column);
    gap: 3.2rem;
    width: 100%;
  }
}
