@use "../../../../../../../../../shared/styles/mixins" as *;
@use "../../../../../../../../../shared/styles/palette" as *;

.account-header {
  @include flex-center(row, flex-start, flex-start);
  gap: 1.6rem;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__details {
    @include display-flex(column);
    gap: 0.8rem;
    flex: 1;
  }

  &__name {
    @include font-inter(700, 2rem, 1.2);
    color: $blue-1000;
    margin: 0;

    @media (max-width: 480px) {
      font-size: 1.8rem;
    }
  }

  &__number {
    @include font-inter(400, 1.4rem, 1.4);
    color: $gray-600;
    margin: 0;
  }

  &__badge {
    flex-shrink: 0;
  }
}