<div class="account-header">
  <div class="account-header__heading">
    <div class="account-header__icon">
      <img
        [src]="'/images/svg/button-icons/account-icon.svg'"
        alt="Account"

      />
    </div>

    <div class="account-header__details">
      <h1 class="account-header__name">{{ account().name }}</h1>
      <p class="account-header__number">{{ account().iban }}</p>
    </div>
  </div>

  <div class="account-header__badge">
    <app-badges
      [text]="cardsLabel()"
      variant="info"
      size="large"
      shape="rounded"
    />
  </div>
</div>
