@use '../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../shared/styles/palette' as *;
@use '../styles/forms-shared' as *;

.contact__form {
  @extend %flex-stack;
  width: 44.8rem;

  &--fields {
    @include display-flex(column);
    width: 100%;
    gap: 0.8rem;
  }

  &--submit {
    width: 100%;
  }
}
