@use '../../../../../../../../../shared/styles/mixins' as *;
@use '../../../../../../../../../shared/styles/palette' as *;
@use '../../../../../../../../../shared/styles/variables' as *;

.paybill-form {
  &__header {
    @include flex-center(row, flex-start, center);
    gap: 1.6rem;
  }

  &__icon-box {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 1.6rem;
    @include flex-center(row, center, center);
    flex-shrink: 0;
  }

  &__text-group {
    @include flex-center(column, center, flex-start);
  }

  &__title {
    @include font-inter(500, 2.4rem, 3.2rem);
    color: var(--color-fg);
    margin: 0;
  }

  &__subtitle {
    @include font-inter(400, 1.6rem, 2.4rem);
    color: $blue-600;
    margin: 0;
  }

  &__content {
    @include display-flex(column);
    gap: 2.4rem;
    padding-right: 2.4rem;
  }
}

.details-grid {
  width: 100%;
  @include display-flex(column);
  gap: 0.8rem;

  .detail-row {
    @include flex-center(row, space-between, center);

    .label {
      @include font-inter(400, 1.4rem, 2rem);
      color: $gray-550;
    }

    .value {
      @include font-inter(600, 1.4rem, 2rem);
      color: var(--color-fg);

      &.date-alert {
        color: $orange-600;
      }
    }
  }
}

.verified-input {
  opacity: 0.5;
  border: 0.1875rem solid $blue-400;
}

.helper-text {
  @include font-inter(400, 1.2rem, 1.6rem);
  color: $gray-500;
  padding-top: 0;
}

.form-actions {
  @include flex-center(row, space-between, center);
  gap: 1.2rem;
}
