<app-basic-card
  maxWidth="100%"
  padding="2.4rem 0 2.4rem 2.4rem"
  [minHeight]="isVerified() ? '65rem': '0rem'"
  class="basic-card"
  justifyContent="space-between"
>
  <div class="category-header">
    <div class="category-header__icon-box">
      @if (isLoading() && !isVerified()) {
      <app-skeleton
        variant="rectangle"
        width="100%"
        height="100%"
        borderRadius="1.6rem"
      />
      } @else {
      <div
        class="category-header__icon-background"
        [style.background-color]="iconBgColor()"
      >
        <img [src]="iconBgPath()" class="category-header__img" alt="" />
      </div>
      }
    </div>

    <div class="category-header__text">
      @if (isLoading()) {
      <div class="skeleton-text-group">
        <app-skeleton variant="text" width="16rem" height="2.4rem" />
        <app-skeleton variant="text" width="12rem" height="1.6rem" />
      </div>
      } @else {
      <h2 class="category-header__title">{{ provider()?.name }}</h2>
      <p class="category-header__subtitle">
        {{ 'paybill.main.form.subtitle' | translate }}
      </p>
      }
    </div>
  </div>

  <form
    [formGroup]="paybillForm()"
    (ngSubmit)="onSubmit()"
    class="paybill-form-container"
  >
    <div class="paybill-form-container__fields">
      <app-dynamic-inputs
        [isLoading]="isLoading()"
        [form]="paybillForm()"
        [fields]="fields()"
        [state]="isVerified() || isLoading() ? 'disabled' : 'default'"
      />
    </div>

    @if (isVerified()) {
    <div class="paybill-form-container__verification">
      <app-payment-summary
        [items]="summaryItems()"
        [headerTitle]="'paybill.main.form.verified_title' | translate"
        type="verified"
      />

      <div class="paybill-form-container__amount">
        <lib-text-input
          label="Amount To Pay"
          formControlName="amount"
          [config]="paybillConfig().amount"
          [state]="isLoading() ? 'disabled' : 'default'"
          (input)="onAmountInput($event)"
          (paste)="onAmountInput($event)"
        />

        @if(verifiedDetails()?.amountDue){
        <p class="paybill-form-container__helper">
          {{ 'paybill.main.form.helper_text' | translate: { amount:
          (verifiedDetails()?.amountDue | currency:'GEL':'symbol') } }}
        </p>
        }
      </div>

      <div class="paybill-form-container__actions">
        <app-tooltip
          class="tooltip"
          [content]="'paybill.main.tooltip.check_amount' | translate"
          [disabled]="paybillForm().valid"
        >
          <app-button
            type="submit"
            class="btn-submit"
            [fullWidth]="true"
            [isDisabled]="paybillForm().invalid || isLoading()"
          >
            {{ 'paybill.main.form.continue_btn' | translate }}
          </app-button>
        </app-tooltip>

        <app-button
          variant="secondary"
          (click)="onSaveTemplate()"
          [fullWidth]="true"
          class="btn-template"
        >
          {{ 'paybill.main.form.template' | translate }}
        </app-button>
      </div>
    </div>
    } @else {
    <div class="paybill-form-container__actions">
      <app-tooltip
        [content]="'paybill.main.tooltip.check_details' | translate"
        [disabled]="paybillForm().valid"
      >
        <app-button
          class="btn-submit"
          type="submit"
          [fullWidth]="true"
          [isDisabled]="paybillForm().invalid || isLoading()"
        >
          {{ 'paybill.main.form.continue_btn' | translate }}
        </app-button>
      </app-tooltip>
    </div>
    }
  </form>
</app-basic-card>
