<section class="paybill-grid">
  <app-library-title title="Select Category"></app-library-title>

  <app-grid-layout cols="4" class="paybill-grid__container">
    @for(category of categories(); track category.id) {
    <div class="paybill-grid__card-wrapper">
      <app-category-card
        [title]="category.name"
        [subtitle]="category.description!"
        [icon]="category.iconBgPath!"
        [iconBgColor]="category.iconBgColor!"
        [count]="category.servicesQuantity"
        (cardClick)="onCategoryClick(category.id)"
      />
    </div>
    }
  </app-grid-layout>
</section>
