<app-profile-photo
  [defaultAvatars]="defaultAvatars()"
  [defaultAvatarsLoading]="defaultAvatarsLoading()"
  [selectedAvatarId]="selectedAvatarId()"
  [photoUrl]="currentAvatarUrl()"
  [initials]="userInitials()"
  [alertType]="alertType()"
  [alertMessage]="alertMessage()"
  [isUploadModalOpen]="isUploadModalOpen()"
  [isDragOver]="isDragOver()"
  [savingChanges]="savingChanges()"
  (openUploadModal)="onOpenUploadModal()"
  (uploadModalClosed)="onCloseUploadModal()"
  (dragOver)="onDragOver($event)"
  (dragLeave)="onDragLeave($event)"
  (fileDrop)="onFileDrop($event)"
  (fileInputChange)="onFileInputChange($event)"
  (alertClose)="onAlertClose()"
  (removePhoto)="onRemovePhoto()"
  (saveChanges)="onSaveChanges()"
  (selectDefaultAvatar)="onSelectDefaultAvatar($event)"
>
</app-profile-photo>

<app-user-info
  [pId]="pId()"
  [phoneNumber]="phoneNumber()"
  [personalInfoLoading]="personalInfoLoading()"
  [personalInfoUpdated]="personalInfoUpdated()"
  [personalInfoError]="personalInfoError()"
  [editedPId]="editedPId()"
  [isEditingPId]="isEditingPId()"
  [isPersonalNumberUnchanged]="isPersonalNumberUnchanged()"
  (updatePersonalNumber)="onUpdatePersonalNumber($event)"
  (editPersonalNumber)="onEditPersonalNumber()"
  (personalNumberChange)="onPersonalNumberChange($event)"
  (cancelEditPersonalNumber)="onCancelEditPersonalNumber()"
></app-user-info>
