<app-profile-photo
  [defaultAvatars]="defaultAvatars()"
  [defaultAvatarsLoading]="defaultAvatarsLoading()"
  [selectedAvatarId]="selectedAvatarId()"
  [photoUrl]="currentAvatarUrl()"
  [alertType]="alertType()"
  [alertMessage]="alertMessage()"
  [isUploadModalOpen]="isUploadModalOpen()"
  [isDragOver]="isDragOver()"
  (openUploadModal)="onOpenUploadModal()"
  (uploadModalClosed)="onCloseUploadModal()"
  (dragOver)="onDragOver($event)"
  (dragLeave)="onDragLeave($event)"
  (fileDrop)="onFileDrop($event)"
  (fileInputChange)="onFileInputChange($event)"
  (alertClose)="onAlertClose()"
  (removePhoto)="onRemovePhoto()"
  (saveChanges)="onSaveChanges()"
  (selectDefaultAvatar)="onSelectDefaultAvatar($event)"
>
</app-profile-photo>
