<app-tree-container
  [groups]="templateGroups()"
  [items]="templates()"
  [canDelete]="true"
  [editable]="true"
  [hasButton]="true"
  [buttonVariant]="'default'"
  [buttonContent]="'paybill.templates.payButton' | translate"
  [hasCheckbox]="true"
  [noCardBorder]="true"
  [errorHeader]="'paybill.templates.errorHeader' | translate"
  [errorMessage]="'paybill.templates.errorMessage' | translate"
  [contentHeader]="true"
  [cardBackground]="true"
  (itemRemoved)="onItemDeleteAction($event)"
  (itemEdited)="onItemEditAction($event)"
  (groupRemoved)="onGroupDeleteAction($event)"
  (groupEdited)="onGroupEditAction($event)"
  (itemMoved)="itemMoved($event)"
  [isLoading]="isLoading()"
  [selectAll]="selectAll()"
>
  <div class="templates__header">
    <app-library-title
      [title]="'paybill.templates.title' | translate"
      [subtitle]="'paybill.templates.description' | translate"
    >
    </app-library-title>
    <div class="templates__header__cta">
      @for (button of headerButtons; track button.action) {
      <app-button
        [variant]="button.variant"
        (click)="handleHeaderButtonClick(button.action)"
        >{{ button.textKey | translate}}</app-button
      >
      }
    </div>
  </div>
</app-tree-container>

<app-ui-modal
  class="modal"
  [isOpen]="isModalOpen()"
  (closed)="modalOpenAction.emit()"
>
  @if (currentModalConfig(); as config) {
  <app-library-title
    [title]="config.title"
    [subtitle]="config.subtitle"
    class="modal__header"
  />
  @let form = activeForm();

  <main>
    @if(selectLoading()) {
    <app-spinner size="large"></app-spinner>
    } @else if (form) {
    <form [formGroup]="form" (ngSubmit)="onFormSubmit(config.formSubmitType)">
      @if (config.fields?.length) { @for (field of config.fields; track
      field.controlName) { @if(field.type === 'dropdown') {
      <lib-select
        [formControlName]="field.controlName"
        [config]="{ label: field.label, placeholder: field.placeholder }"
        [options]="getDropdownOptions(field.controlName)"
      ></lib-select>
      }@else {
      <lib-text-input
        [formControlName]="field.controlName"
        [type]="field.type"
        [config]="{ label: field.label, placeholder: field.placeholder }"
      />
      } } @if(isCategorySelected()) { @for (item of childProviderOptions();
      track $index) {
      <lib-select
        [options]="childProviderOptions()[$index]"
        (valueChange)="onChildProviderChange($event, $index)"
      ></lib-select>
      } } }

      <div class="modal__buttons">
        <app-button
          type="button"
          variant="outline"
          (click)="modalOpenAction.emit()"
        >
          Cancel
        </app-button>
        <app-button [variant]="config.submitButtonType" type="submit">
          {{ config.submitLabel }}
        </app-button>
      </div>
    </form>
    }@else {
    <div class="modal__identifier">{{ selectedDeleteItem() }}</div>
    @if (config.description) {
    <p class="modal__warning">{{ config.description }}</p>
    }

    <div class="modal__buttons">
      <app-button
        variant="outline"
        type="button"
        (click)="modalOpenAction.emit()"
      >
        Cancel
      </app-button>
      <app-button
        [variant]="config.submitButtonType"
        type="submit"
        (click)="onActionHandler(config.submitAction)"
      >
        {{ config.submitLabel }}
      </app-button>
    </div>
    }
  </main>
  }
</app-ui-modal>
