<main class="internal-accounts">
  <header class="internal-accounts__header">

    <div class="internal-accounts__sender-account">

      @if (selectedFromAccount(); as account) {
        <div class="internal-accounts__from-card">
          <div class="internal-accounts__from-card__header">
            <h3 class="internal-accounts__sender-account__title">
              {{ 'transfers.internal.step-1' | translate }}
            </h3>
          </div>
          <div class="internal-accounts__from-card__body">
            <div class="internal-accounts__from-card__icon">
              <img src="images/svg/transfers/cardicon.svg" alt="Account Icon" />
            </div>

            <div class="internal-accounts__from-card__content">
              <div class="internal-accounts__from-card__name">
                @if (selectedFromAccount()?.isFavorite) {
                  <img src="images/svg/transfers/star.svg" alt="favorite" class="internal-accounts__from-card__star" />
                }
                {{ selectedFromAccount()?.friendlyName || selectedFromAccount()?.name }}
              </div>

              <div class="internal-accounts__from-card__details">
                <app-badges
                  [variant]="'default'"
                  [text]="selectedFromAccount()?.currency || ''"
                  [size]="'small'"
                  [shape]="'pill'"
                />
                <span class="internal-accounts__from-card__iban">
                  **** **** **** {{ getLastFourDigits(selectedFromAccount()?.iban || '') }}
                </span>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

  </header>

  <section class="internal-accounts__sender-accounts">
    <div class = 'internal-accounts__sender-accounts__header'>
      <h2 class="internal-accounts__sender-accounts__header-title">
        {{ 'transfers.internal.accounts.selectSenderAccount' | translate }}
      </h2>

      <app-button
        variant="outline"
        size="default"
        [fullWidth]="isFullWidth()"
        [isDisabled]="isSwapDisabled()"
        (click)="onSwapAccounts()"
      >
        <img src = 'images/svg/transfers/swap.svg' alt = "swap"/>
        {{ 'common.buttons.swap' | translate }}
      </app-button>
    </div>


    @if (isLoading()) {
      <div class="internal-accounts__loader-wrapper">
        <app-route-loader variant="pulsing"></app-route-loader>
      </div>
    } @else if (error()) {
      <div class="internal-accounts__error-wrapper">
        <app-error-states
          [variant]="'failed'"
          [header]="'transfers.internal.accounts.senderError.header' | translate"
          [message]="'transfers.internal.accounts.senderError.message' | translate"
          [buttonMessage]="'transfers.internal.accounts.accountsError.retry' | translate"
          (buttonClick)="onRetry()"
          [border] = 'false'
        />
      </div>
    } @else if (!accounts() || accounts().length === 0) {
      <div class="internal-accounts__error-wrapper">
        <app-error-states
          [variant]="'not-found'"
          [header]="'transfers.internal.accounts.noSenderAccounts.header' | translate"
          [message]="'transfers.internal.accounts.noSenderAccounts.message' | translate"
          [showButton]="false"
          [border] = 'false'
        />
      </div>
    } @else {
      <div class="internal-accounts__accounts-grid">
        @for (account of transferableAccounts(); track account.id) {
          <app-transfers-account-card
            [cardData]="account"
            [mode]="'sender'"
            [isSelected]="selectedToAccount()?.id === account.id"
            (cardClicked)="onAccountSelect($event)"
          />
        }
      </div>
    }
  </section>

  <footer class="internal-accounts__footer">
    <app-button
      variant="outline"
      size="default"
      [fullWidth]="isFullWidth()"
      (click)="onGoBack()"
    >
      <img src="images/svg/transfers/go-back.svg" alt="back" />
      {{ 'common.buttons.back' | translate }}
    </app-button>

    <app-tooltip
      [content]="'transfers.internal.accounts.selectRecipientAccount' | translate"
      placement="top"
      [disabled]="!isContinueDisabled()"
    >
      <app-button
        variant="default"
        size="default"
        [fullWidth]="isFullWidth()"
        (click)="onContinue()"
        [isDisabled]="isContinueDisabled()"
      >
        {{ 'common.buttons.continue' | translate }}
        <img src="images/svg/transfers/arrow-right.svg" alt="arrow" />
      </app-button>
    </app-tooltip>
  </footer>
</main>

